<li 
*ngFor="let lang of languagesService.availableLanguages"
class="dropdown-item">
    <a 
    class="language-link" 
    href="javascript:;"
    (click)="languagesService.updateCurrentLanguage(lang)">
    {{ "languages."+lang | translate}}
</a>
</li>