<table matSort (matSortChange)="sortBy($event)" class="entries-list-table">
  <colgroup>
    <col span="1" style="width: 10%;">
    <col span="1" style="width: 45%;">
    <col span="1" style="width: 45%;">
  </colgroup>
  <thead>
    <tr>
      <th></th>
      <th mat-sort-header="name">
        <span>{{ "knowledge.name" | translate }}</span>
      </th>
      <th mat-sort-header="author">
        <span>{{ "knowledge.author" | translate }}</span>
      </th>
      <th mat-sort-header="type">
        <span>{{ "entries.type" | translate }}</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="
    let template of entries;
    let i = index
  ">
      <td class="base-listsBlock-item">
        <div class="base-listsBlock-item-actions">
          <a href="javascript:;" (click)="export(template.id)" class="base-tooltip">
            <i class="fa fa-download" aria-hidden="true"></i>
            <span title="export" class="base-tooltip-text">{{ "entries.export" | translate }}</span>
          </a>
          <a *ngIf="template.id >0" href="javascript:;" (click)="remove(template.id)" class="base-tooltip">
            <i class="fa fa-trash" aria-hidden="true"></i>
            <span title="Remove" class="base-tooltip-text">{{ "entries.remove" | translate }}</span>
          </a>
        </div>
      </td>
      <td class="base-listsBlock-item">
        <div contenteditable (focusout)="onFocusOut(template, 'name', $event)">
          {{ template.name }}
        </div>
      </td>
      <td class="base-listsBlock-item">
        <div contenteditable (focusout)="onFocusOut(template, 'author', $event)">
          {{ template.author }}
        </div>
      </td>
      <td class="base-listsBlock-item">
        {{ "entries.template."+template.type | translate }}
      </td>
    </tr>
  </tbody>
</table>