<table>
    <colgroup>
      <col style="width: 40%">
      <col style="width: 60%">
    </colgroup>
    <tbody>
      <tr>
        <td class="truncate">{{ "cards.infos.chrome_version" | translate }} </td>
        <td>{{card.chrome_version}}</td>
      </tr>
      <tr>
        <td class="truncate">{{ "cards.infos.tool_version" | translate }}</td>
        <td class="truncate">
            {{card.tool_version}}
        </td>
      </tr>
      <tr>
        <td class="truncate">{{ "cards.infos.user_agent" | translate }}</td>
        <td class="truncate">
            {{card.user_agent}}
        </td>
      </tr>
      <tr>
        <td class="truncate">{{ "cards.infos.start_time" | translate }}</td>
        <td class="truncate">
            {{card.start_time | date:'full' }}
        </td>
      </tr>
      <tr *ngIf="context != 'view'">
        <td class="truncate">{{ "cards.infos.end_time" | translate }}</td>
        <td class="truncate">
            {{card.end_time | date:'full' }}
        </td>
      </tr>
    </tbody>
  </table>
  <br>

  <table>
    <colgroup>
      <col style="width: 100%">
    </colgroup>
    <thead>
      <tr>
        <th>{{ "cards.infos.visited_urls" | translate }} :</th>
      </tr>
    </thead>
    <tbody>      
    <tr *ngFor="let url of card.visited_urls">
      <td colspan="2" class="truncate"> {{url}} </td>
    </tr>
    </tbody>
  </table>