<mat-tree #treeLogCall [dataSource]="dataSourceCall" [treeControl]="treeControl">

    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>

        <button mat-icon-button disabled></button>
        <a *ngIf="node.link" target="_blank" href="{{node.name}}">
            <mat-icon>open_in_new</mat-icon>
        </a>
        {{node.name}}
        
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
        </button>
        <a *ngIf="node.link" target="_blank" href="{{node.name}}">
            <mat-icon>open_in_new</mat-icon>
        </a>
        {{node.name}}
    </mat-tree-node>
</mat-tree>