@import "src/assets/stylesheets/variables";


table {
    border-collapse: collapse;
    max-width: 100%;
    border-bottom: 1px solid #d0d0d0;
    table-layout: fixed;
    overflow: hidden;
    white-space: nowrap;
}

tbody>tr>:nth-child(1){
    color:#fff;
    width:20%;
    text-align:center;
    background: #004494;
    font-weight: bold; 
}

tbody>tr>:nth-child(2){
    width:80%;
    height: 27px;
    position: relative;
    padding-left:10px;
    &:nth-child(even) {
        background-color: $base-gray-dark;
    }

    &:nth-child(odd) {
        background-color: $base-gray-light;
    }
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }