<div class="row" style="margin-top: 10px;">
    <div class="col-12 px-4 px-xl-5 order-0">
        <div id="block-pagetitle" class="block block-core block-page-title-block">
            <div class="content">
                <header class="article-title" style="margin-top: 10px;">
                    <h1 class="node__title mb-3 mt-0">Créer des rapports</h1>
                </header>
                <p>Les rapports sont des documents formatés selon un <i>modèle</i> donné d’informations contenues dans
                    une <i>analyse</i>, un <i>scénario</i> ou une <i>carte</i> donnée.</p>

                <p>Les rapports d’édition de l’interface sont accessibles sur chaque ligne du tableau <strong> Résumé
                        des évaluations </strong> dans une analyse ou un scénario donné.</p>

                <header class="article-title" style="margin-top: 10px;">
                    <h2 class="node__title mb-3 mt-0">Interface de rapport</h2>
                </header>
                <p>L’interface de rapport se compose des trois principaux éléments suivants:</p>
                <ul>
                    <li>la <i>barre d’outils Edit/export</i> sur la partie supérieure de l’interface permet d’éditer le
                        rapport et de sélectionner un format pour ses exportations (<i>json</i><i>, XLSX</i><i>, PDF</i>
                        ou <i>DOCX</i>),</li>
                    <li>la <i>barre d’outils de filtrage</i> des informations permet de sélectionner les informations à
                        déclarer, en fonction de leur identification ou de leur évaluation,</li>
                    <li>le cadre <i>Aperçu</i> donne un aperçu des informations contenues dans les rapports finaux. Il
                        fournit également un éditeur simple pour ajouter ou supprimer des informations dans le rapport.
                        Notez que le rendu final peut différer en fonction du format d’exportation sélectionné.</li>
                </ul>

                <header class="article-title" style="margin-top: 10px;">
                    <h3 class="node__title mb-3 mt-0">Modifier/exporter la barre d’outils</h3>
                </header>
                <p>La barre d’outils Édition/exportation pour l’édition des informations des rapports et pour
                    l’exportation dans un format donné:</p>
                <table border="2">
                    <tr>
                        <td><button color="blue"><i class="fas fa-pen"></i> Modifier</button></td>
                        <td>Ouvrez un éditeur simple dans le cadre d’aperçu pour ajouter ou supprimer des informations
                            dans le rapport généré. Notez que les informations modifiées ne seront visibles que lors de
                            l’exportation au format pdf ou docx. La sélection de nouveaux filtres dans la <i>barre
                                d’outils de filtrage d’</i> informations efface toutes les modifications en cours.</td>
                    </tr>
                    <tr>
                        <td><button color="blue"><i class="fas fa-file-import"></i> Enregistrer en tant que
                                JSON</button></td>
                        <td>Exportez les informations brutes d’une <i>analyse, d’</i> un <i>scénario</i> ou d’une
                            <i>carte</i> donnée en utilisant le format JavaScript Object Notation (JSON).</td>
                    </tr>
                    <tr>
                        <td><button color="blue"><i class="fas fa-file-import"></i> Enregistrer en XLSX</button></td>
                        <td>Exportez les informations brutes d’une <i>analyse</i>, d’un <i>scénario</i> ou d’une
                            <i>carte</i> donnée dans des feuilles de calcul au format Office Open XML (XLXS).</td>
                    </tr>
                    <tr>
                        <td><button color="blue"><i class="fas fa-file-import"></i> Enregistrer au format PDF </button>
                        </td>
                        <td>Exporter les informations formatées d’une <i>analyse</i>, d’un <i>scénario</i> ou d’une
                            <i>carte</i> donnée en format de document portable (PDF).</td>
                    </tr>
                    <tr>
                        <td><button color="blue"><i class="fas fa-file-import"></i> Enregistrer en tant que Docx
                            </button></td>
                        <td>Exportez les informations formatées d’une <i>analyse, d’</i> un <i>scénario</i> ou d’une
                            <i>carte</i> donnée dans un Office Open XML (DOCX) modifiable.</td>
                    </tr>
                </table>

                <p>Les informations formatées correspondent à la génération d’une représentation HTML d’un rapport basé
                    sur un modèle dans un format PUG. De nouveaux modèles peuvent être importés dans la section <span
                        class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Modèle de</span> la barre de
                    navigation du côté gauche et sélectionnés dans la barre d’outils <i>de filtrage d’</i> informations.
                </p>

                <header class="article-title" style="margin-top: 10px;">
                    <h3 class="node__title mb-3 mt-0">Barre d’outils de filtrage de l’information</h3>
                </header>
                <p>La barre d’outils de filtrage d’informations permet de sélectionner l’analyse, les scénarios et les
                    cartes en fonction de leur identification ou de leur évaluation respective selon les options ou un
                    modèle:
                <p>
                <table border="2">
                    <tr>
                        <td>Sélectionnez un modèle</td>
                        <td>Un modèle PUG a été importé à partir de la section <span
                                class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Modèle</span> de la
                            barre de navigation du côté gauche.</td>
                    </tr>
                    <tr>
                        <td>Sélectionnez les balises à signaler</td>
                        <td>Lors de la déclaration d’une analyse complète, il permet de sélectionner un ensemble de
                            scénarios ou tous les scénarios à inclure dans le rapport.</td>
                    </tr>
                    <tr>
                        <td>Sélectionnez les cartes à signaler</td>
                        <td>Lors de la déclaration d’une analyse ou d’un scénario, il permet de sélectionner un ensemble
                            de cartes ou toutes les cartes à inclure dans le rapport.</td>
                    </tr>
                    <tr>
                        <td>Sélectionner les évaluations à rapporter</td>
                        <td>Lors de la présentation d’une analyse, d’un scénario ou d’une carte, il permet de
                            sélectionner des évaluations ou des commentaires à inclure dans le rapport. Notez que cette
                            option s’applique également aux lignes dans les cookies, le stockage local, les balises et
                            testssl.</td>
                    </tr>
                    <tr>
                        <td>
                            Sélectionner une annexe
                        </td>
                        <td>
                            Lors de la déclaration d’une analyse, d’un scénario ou d’une carte, elle permet d’ajouter une annexe d’enquête, par exemple pour expliquer comment l’enquête a été effectuée.
                        </td>
                    </tr>
                </table>

                <p>Les options de modèle et de filtrage sont mutuellement inclusives. En tant que tels, les modèles
                    peuvent être des informations complètes sur l’analyse, les scénarios et les cartes qui pourraient
                    être sélectionnés plus tard via les options de filtrage.</p>

                <header class="article-title" style="margin-top: 10px;">
                    <h2 class="node__title mb-3 mt-0">Modification de nouveaux modèles</h2>
                </header>
                <p>
                    Un nouveau modèle peut être ajouté dans la section Modèle avec le bouton <button>Nouveau modèle</button>.
                </p>
                <p>Pourtant, la seule syntaxe prise en charge pour le modèle est <a target="_blank"
                        href="https://github.com/pugjs/pug">PUG</a>. Les rapports générés à partir d’un modèle
                    correspondent à l’objet objet de données contenu dans le json d’une analyse, d’un scénario ou d’une
                    carte aux <i>locaux</i> correspondants dans la syntaxe pug.</p>
                <p>Vous pouvez vous référer à la section <i>Référence linguistique</i> de son <a target="_blank"
                        href="https://pugjs.org/api/getting-started.html">site Web officiel</a> pour obtenir des
                    informations complètes dans sa syntaxe.</p>

                <p>Le<mat-icon>description</mat-icon>Le<span
                        class="mat-list-item nav-item px-xl-3 text-uppercase is-active">modèle</span> fournit un
                    ensemble d’actions pour importer, modifier ou dupliquer des modèles existants:</p>

                <table border="2">
                    <tr>
                        <td><button color="blue"><i class="fas fa-plus"></i> Nouveau modèle</button></td>
                        <td>Importez un modèle dans la syntaxe PUG avec un nom et un auteur pour son utilisation
                            ultérieure dans les rapports.</td>
                    </tr>
                    <tr>
                        <td><a href="javascript:;"> <i class="fa fa-download" aria-hidden="true"></i> </a> <a
                                href="javascript:;"> <i class="fa fa-trash" aria-hidden="true"></i> </a></td>
                        <td>Télécharger et supprimer respectivement les modèles importés</td>
                    </tr>
                </table>

                <p>En tant que première introduction pour générer de nouveaux modèles, nous vous recommandons de
                    télécharger une analyse, un scénario ou une balise à partir de la <i>barre d’outils Edit/export</i>
                    dans le format brut JSON pour trouver des entrées correspondantes.</p>
                <p>De nombreux outils de test en ligne de Pug permet de copier/coller le modèle PUG et les informations
                    JSON pour rendre le HTML final. Le<i>modèle par défaut</i> peut également être exporté comme
                    référence.</p>

                    <header class="article-title" style="margin-top: 10px;">
                        <h2 class="node__title mb-3 mt-0">Ajout d’une nouvelle annexe</h2>
                        <p>
                            Une annexe peut également être ajoutée dans la section Modèle avec le bouton  <button>Nouvelle annexe</button>.
                        </p>
    
                        <p>La seule syntaxe prise en charge pour l’annexe est HTML. De nombreux logiciels prennent en charge l’exportation d’un format (par exemple DOCx ou PDF) vers HTML. Cette annexe est automatiquement ajoutée au modèle pug à l’emplacement!{annex} dans la syntaxe pug. Dans le modèle pug par défaut, cette annexe est jointe en annexe comme c’est le cas à la fin du rapport. </p>
                    </header>
            </div>
        </div>
    </div>
</div>