<div class="row" style="margin-top: 10px;">
    <div class="col-12 px-4 px-xl-5 order-0">
        <div id="block-pagetitle" class="block block-core block-page-title-block">
            <div class="content">
                <header class="article-title" style="margin-top: 10px;">
                    <h1 class="node__title mb-3 mt-0">Crear informes</h1>
                </header>
                <p>Los informes son documentos con formato conforme a una <i>plantilla</i> determinada de información
                    contenida en un <i>análisis</i>, un <i>escenario</i> o una <i>tarjeta</i> determinada .</p>

                <p>Se puede acceder a los informes de edición de la interfaz en cada línea <strong> de la tabla Resumen
                        de las evaluaciones en </strong> un análisis o escenario determinado.</p>

                <header class="article-title" style="margin-top: 10px;">
                    <h2 class="node__title mb-3 mt-0">Interfaz de informes</h2>
                </header>
                <p>La interfaz del informe se compone de los tres componentes principales siguientes:</p>
                <ul>
                    <li>la <i>barra de herramientas Editar/exportar</i> de la parte superior de la interfaz permite
                        editar el informe y seleccionar un formato para sus exportaciones (json<i></i>, <i>XLSX</i>,
                        <i>PDF</i> o <i>DOCX</i>),</li>
                    <li>la <i>barra de herramientas de filtrado de información</i> permite seleccionar la información
                        que debe notificarse, de acuerdo con su identificación o su evaluación,</li>
                    <li>el marco <i>de vista previa</i> ofrece una visión general de la información contenida en los
                        informes finales. También proporciona un editor simple para agregar o eliminar información en el
                        informe. Tenga en cuenta que la representación final puede diferir dependiendo del formato de
                        exportación seleccionado.</li>
                </ul>

                <header class="article-title" style="margin-top: 10px;">
                    <h3 class="node__title mb-3 mt-0">Barra de herramientas de edición/exportación</h3>
                </header>
                <p>La barra de herramientas Editar/exportar para editar la información de los informes y para exportar
                    en un formato determinado:</p>
                <table border="2">
                    <tr>
                        <td><button color="blue"><i class="fas fa-pen"></i> Editar</button></td>
                        <td>Abra un editor simple en el marco de vista previa para agregar o eliminar información en el
                            informe generado. Tenga en cuenta que la información modificada solo será visible cuando se
                            exporte a pdf o docx. Al seleccionar nuevos filtros en la <i>barra de herramientas Filtrado
                                de información,</i> se borran todas las modificaciones actuales.</td>
                    </tr>
                    <tr>
                        <td><button color="blue"><i class="fas fa-file-import"></i> Guardar como JSON</button></td>
                        <td>Exportar información bruta de un <i>determinado análisis,</i> <i>escenario</i> o
                            <i>tarjeta</i> utilizando el formato JavaScript Object Notation (JSON).</td>
                    </tr>
                    <tr>
                        <td><button color="blue"><i class="fas fa-file-import"></i> Guardar como XLSX</button></td>
                        <td>Exportar información bruta de un <i>determinado análisis,</i> <i>escenario</i> o
                            <i>tarjeta</i> en hojas de cálculo utilizando el formato XML abierto de Office (XLXS).</td>
                    </tr>
                    <tr>
                        <td><button color="blue"><i class="fas fa-file-import"></i> Guardar como PDF </button></td>
                        <td>Exportar información formateada de un <i>determinado análisis,</i> <i>escenario</i> o
                            <i>tarjeta</i> en formato de documento portátil (PDF).</td>
                    </tr>
                    <tr>
                        <td><button color="blue"><i class="fas fa-file-import"></i> Guardar como Docx </button></td>
                        <td>Exportar información formateada de un <i>análisis,</i> <i>escenario</i> o <i>tarjeta</i>
                            dados en un Office Open XML (DOCX) editable.</td>
                    </tr>
                </table>

                <p>La información formateada corresponde a la generación de representación HTML de un informe basado en
                    una plantilla en formato PUG. Las nuevas plantillas pueden importarse en la <span
                        class="mat-list-item nav-item px-xl-3 text-uppercase is-active">sección Plantilla</span> de la
                    barra de navegación lateral izquierda y seleccionarse en la <i>barra de herramientas de filtrado de
                        información.</i></p>

                <header class="article-title" style="margin-top: 10px;">
                    <h3 class="node__title mb-3 mt-0">Barra de herramientas de filtrado de información</h3>
                </header>
                <p>La barra de herramientas de filtrado de información permite seleccionar análisis, escenarios y
                    tarjetas en función de su identificación o su evaluación respectiva según las opciones o una
                    plantilla:
                <p>
                <table border="2">
                    <tr>
                        <td>Seleccione una plantilla</td>
                        <td>Usar una plantilla PUG se ha importado desde la <span
                                class="mat-list-item nav-item px-xl-3 text-uppercase is-active">sección Plantilla</span>
                            de la barra de navegación del lado izquierdo.</td>
                    </tr>
                    <tr>
                        <td>Seleccionar etiquetas para reportar</td>
                        <td>Al informar un análisis completo, permite seleccionar un conjunto de escenarios o todos los
                            escenarios que se incluirán en el informe.</td>
                    </tr>
                    <tr>
                        <td>Seleccionar tarjetas para reportar</td>
                        <td>Al informar un análisis o un escenario, permite seleccionar un conjunto de tarjetas o todas
                            las tarjetas que se incluirán en el informe.</td>
                    </tr>
                    <tr>
                        <td>Seleccionar evaluaciones para informar</td>
                        <td>Al reportar un análisis, un escenario o una tarjeta, permite seleccionar evaluaciones o
                            comentarios para ser incluidos en el informe. Tenga en cuenta que esta opción también se
                            aplica a las líneas en cookies, almacenamiento local, balizas y testssl.</td>
                    </tr>
                    <tr>
                        <td>
                            Seleccionar un anexo
                        </td>
                        <td>
                            Al informar un análisis, un escenario o una tarjeta, permite agregar un anexo de investigación, por ejemplo, para explicar cómo se ha realizado la investigación.
                        </td>
                    </tr>
                </table>

                <p>Las opciones de plantilla y filtrado son mutuamente inclusivas. Como tal, las plantillas pueden ser
                    información completa sobre análisis, escenarios y tarjetas que luego podrían seleccionarse a través
                    de las opciones de filtrado.</p>

                <header class="article-title" style="margin-top: 10px;">
                    <h2 class="node__title mb-3 mt-0">Edición de nuevas plantillas</h2>
                </header>
                <p>
                    Se puede agregar una nueva plantilla en la sección plantilla con el botón  <button>Nueva plantilla</button>.
                </p>
                <p>Sin embargo, la única sintaxis soportada para la plantilla es <a target="_blank"
                        href="https://github.com/pugjs/pug">PUG.</a> Los informes generados a partir de una plantilla
                    corresponden al objeto de datos contenido en el json de un análisis, un escenario o una tarjeta a
                    los <i>locales correspondientes</i> en la sintaxis pug.</p>
                <p>Puede consultar la sección <i>Referencia de idioma</i> de su <a target="_blank"
                        href="https://pugjs.org/api/getting-started.html">sitio web oficial</a> para obtener información
                    completa en su sintaxis.</p>

                <p>El<mat-icon>descripción</mat-icon><span
                        class="mat-list-item nav-item px-xl-3 text-uppercase is-active">La plantilla</span> proporciona
                    un conjunto de acciones para importar, editar o duplicar plantillas existentes:</p>

                <table border="2">
                    <tr>
                        <td><button color="blue"><i class="fas fa-plus"></i> Nueva plantilla</button></td>
                        <td>Importar una plantilla en sintaxis PUG con un nombre y un autor para su uso posterior en
                            informes.</td>
                    </tr>
                    <tr>
                        <td><a href="javascript:;"> <i class="fa fa-download" aria-hidden="true"></i> </a> <a
                                href="javascript:;"> <i class="fa fa-trash" aria-hidden="true"></i> </a></td>
                        <td>Descargue y elimine respectivamente las plantillas importadas</td>
                    </tr>
                </table>

                <p>Como primera introducción para generar nuevas plantillas, recomendamos descargar un análisis, un
                    escenario o una etiqueta de la <i>barra de herramientas Editar/exportar</i> en formato RAW JSON para
                    encontrar entradas coincidentes.</p>
                <p>Muchas herramientas de prueba de Pug en línea permiten copiar / pegar la plantilla PUG y la
                    información JSON para renderizar el HTML final. <i>La plantilla predeterminada</i> también se puede
                    exportar como referencia.</p>
                    <header class="article-title" style="margin-top: 10px;">
                        <h2 class="node__title mb-3 mt-0">Adición de un nuevo anexo</h2>
                        <p>
                            El anexo también puede añadirse en la sección de plantilla con el botón  <button> Nuevo anexo</button>.
                        </p>
    
                        <p>La única sintaxis soportada para el anexo es HTML. Muchos programas son compatibles con la exportación de un formato (por ejemplo, DOCx o PDF) a HTML. Este anexo se añade automáticamente a la plantilla pug en la ubicación!{annex} en la sintaxis pug. En la plantilla de pug por defecto, el presente anexo se adjunta como está al final del informe. </p>
                    </header>
            </div>
        </div>
    </div>
</div>