<div class="row" style="margin-top: 10px;">
    <div class="col-12 px-4 px-xl-5 order-0">
        <div id="block-pagetitle" class="block block-core block-page-title-block">
            <div class="content">
                <header class="article-title" style="margin-top: 10px;">
                    <h1 class="node__title mb-3 mt-0">Create reports</h1>
                </header>
                <p>Reports are formatted documents according to a given <i>template</i> of
                    information contained in an <i>analysis</i>, a <i>scenario</i> or a given
                    <i>card</i>.
                </p>

                <p>The interface edit reports is accessible on each line of the table
                    <strong> Summary of the evaluations </strong> in a given analysis or
                    scenario.
                </p>

                <header class="article-title" style="margin-top: 10px;">
                    <h2 class="node__title mb-3 mt-0">Report interface </h2>
                </header>
                <p>The report interface is composed of the following three main components
                    :</p>
                <ul>
                    <li> the <i>Edit/export toolbar</i> on the upper part of the interface
                        allows editing the report
                        and selecting a format for its exports (<i>json</i>, <i>XLSX</i>,
                        <i>PDF</i> or <i>DOCX</i>),
                    </li>
                    <li> the <i>Information filtering toolbar</i> allows selecting information
                        to be reported, according to its identification or its evaluation, </li>
                    <li> the <i>Preview</i> frame gives an overview of the information contained
                        in the final reports. Its also provides a simple editor to add or remove
                        information in the report. Note that the final rendering may differ
                        depending on the selected exporting format.</li>
                </ul>

                <header class="article-title" style="margin-top: 10px;">
                    <h3 class="node__title mb-3 mt-0">Edit/export toolbar</h3>
                </header>
                <p>The Edit/export toolbar for editing information of the reports and for
                    exporting in a given format :</p>
                <table border="2">
                    <tr>
                        <td>
                            <button  color="blue">  <i class="fas fa-pen"></i>
                                Edit</button>
                        </td>
                        <td>
                            Open a simple editor in the preview frame for adding or removing
                            information in the generated report.
                            Note that modified information will only be visible when exporting
                            to pdf or docx.
                            Selecting new filters from <i>Information filtering toolbar</i>
                            erase all current modifications.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button  color="blue"> <i
                                    class="fas fa-file-import"></i> Save as
                                JSON</button>
                        </td>
                        <td>
                            Export raw information of a given <i>analysis</i>, <i>scenario</i>
                            or <i>card</i> using the JavaScript Object Notation (JSON) format.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button  color="blue"> <i
                                    class="fas fa-file-import"></i> Save as
                                XLSX</button>
                        </td>
                        <td>
                            Export raw information of a given <i>analysis</i>, <i>scenario</i>
                            or <i>card</i> in spreadsheets using Office Open XML (XLXS) format.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button  color="blue"><i
                                    class="fas fa-file-import"></i> Save as PDF
                            </button>
                        </td>
                        <td>
                            Export formatted information of a given <i>analysis</i>,
                            <i>scenario</i> or <i>card</i> in Portable Document Format (PDF).
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button  color="blue"><i
                                    class="fas fa-file-import"></i> Save as Docx
                            </button>
                        </td>
                        <td>
                            Export formatted information of a given <i>analysis</i>,
                            <i>scenario</i> or <i>card</i> in an editable Office Open XML
                            (DOCX).
                        </td>
                    </tr>
                </table>

                <p>Formatted information corresponds to generating HTML representation of a
                    report based on a template in a PUG format. New templates can be imported in
                    the <span
                        class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Template</span>
                    section of the left side navigation bar and selected in <i>Information
                        filtering toolbar</i>.</p>

                <header class="article-title" style="margin-top: 10px;">
                    <h3 class="node__title mb-3 mt-0">Information filtering toolbar</h3>
                </header>
                <p>The information filtering toolbar allows selecting analysis, scenarios and
                    cards depending on their identification or their respective assessment
                    according to options or a template :
                <p>
                <table border="2">
                    <tr>
                        <td>
                            Select a template
                        </td>
                        <td>
                            Use a PUG template has been imported from the
                            <span
                                class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Template</span>
                            section of the left side navigation bar.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Select tags to report
                        </td>
                        <td>
                            When reporting a complete analysis, it allows selecting a set of
                            scenarios or all scenarios to be included in the report.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Select cards to report
                        </td>
                        <td>
                            When reporting an analysis or a scenario, it allows selecting a set
                            of cards or all cards to be included in the report.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Select evaluations to report
                        </td>
                        <td>
                            When reporting an analysis, a scenario or a card, it allows
                            selecting evaluations or comments to be included in the report. Note
                            that this option also applies to lines in cookies, local storage,
                            beacons and testssl.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Select an annex
                        </td>
                        <td>
                            When reporting an analysis, a scenario or a card, it allows to add an investigation annex, for instance to explain how the investigation has been made.
                        </td>
                    </tr>
                </table>

                <p>Template and filtering options are mutually inclusive. As such, templates can
                    be complete information on analysis, scenarios and cards that could be later
                    selected through the filtering options.</p>

                <header class="article-title" style="margin-top: 10px;">
                    <h2 class="node__title mb-3 mt-0">Editing New Templates</h2>
                </header>
                <p>
                    New template can be added in the template section with <button>New template</button> button.
                </p>
                <p>Yet, the only supported syntax for template is <a target="_blank"
                        href="https://github.com/pugjs/pug">PUG</a>. The generated reports from
                    a template corresponds to the data object object contained in the json of an
                    analysis, a scenario or a card to the corresponding <i>locals</i> in the pug
                    syntax.</p>
                <p>You can refer to the <i>Language Reference</i> section of its <a
                        target="_blank"
                        href="https://pugjs.org/api/getting-started.html">official website</a>
                    to get complete information in its syntax.</p>

                <p>The <mat-icon>description</mat-icon><span
                        class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Template</span>
                    provides a set of action to import, edit or duplicate existing templates:
                </p>

                <table border="2">
                    <tr>
                        <td>
                            <button  color="blue"> <i class="fas fa-plus"></i>
                                New
                                template</button>
                        </td>
                        <td>
                            Import a template in PUG syntax with a name and an author for its
                            later use in reports.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="javascript:;">
                                <i class="fa fa-download" aria-hidden="true"></i>
                            </a>
                            <a href="javascript:;">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td>
                            Respectively download and delete imported templates
                        </td>
                    </tr>
                </table>

                <p>As a first introduction for generating new templates, we recommend
                    downloading an analysis, a scenario or tag from the <i>Edit/export
                        toolbar</i> in JSON raw format for finding matching entries.</p>
                <p>Many online Online Pug Testing Tool allows copy/pasting PUG template and JSON
                    information to render the final HTML. <i>Default template</i> can also be
                    exported as a reference.</p>

                <header class="article-title" style="margin-top: 10px;">
                    <h2 class="node__title mb-3 mt-0">Adding New Annex</h2>
                    <p>
                        Annex can also be added in the template section with <button> New annex</button> button. The only supported syntax for annex is HTML.
                    </p>

                    <p>Many software supports exporting one format (e.g., DOCx or PDF) to HTML. This annex is automatically added to the pug template at the !{annex} location in the pug syntax. In the default pug template, this annex is appended as is in the end of the report. </p>
                </header>
            </div>
        </div>
    </div>
</div>