<div class="row" style="margin-top: 10px;">
    <div class="col-12 px-4 px-xl-5 order-0">
        <div id="block-pagetitle" class="block block-core block-page-title-block">
            <div class="content">
                <header class="article-title" style="margin-top: 10px;">
                    <h1 class="node__title mb-3 mt-0">Δημιουργία αναφορών</h1>
                </header>
                <p>Οι εκθέσεις είναι μορφοποιημένα έγγραφα σύμφωνα με ένα δεδομένο <i>υπόδειγμα</i> πληροφοριών που περιέχονται σε μια <i>ανάλυση</i>, ένα <i>σενάριο</i> ή μια δεδομένη <i>κάρτα</i>.</p>

                <p>Οι αναφορές επεξεργασίας διεπαφής είναι προσβάσιμες σε κάθε γραμμή του πίνακα <strong> Σύνοψη των αξιολογήσεων σε </strong> μια δεδομένη ανάλυση ή σενάριο.</p>

                <header class="article-title" style="margin-top: 10px;">
                    <h2 class="node__title mb-3 mt-0">Διεπαφή αναφοράς</h2>
                </header>
                <p>Η διεπαφή αναφοράς αποτελείται από τις ακόλουθες τρεις κύριες συνιστώσες:</p>
                <ul>
                    <li>η <i>γραμμή εργαλείων επεξεργασίας/εξαγωγής</i> στο επάνω μέρος της διεπαφής επιτρέπει την επεξεργασία της αναφοράς και την επιλογή μορφοτύπου για τις εξαγωγές της (<i>json</i>, <i>XLSX</i>, <i>PDF</i> ή <i>DOCX</i>),</li>
                    <li>η <i>γραμμή εργαλείων φιλτραρίσματος πληροφοριών</i> επιτρέπει την επιλογή των πληροφοριών που πρέπει να αναφέρονται, ανάλογα με τον προσδιορισμό ή την αξιολόγησή τους,</li>
                    <li>το πλαίσιο <i>προεπισκόπησης</i> παρέχει επισκόπηση των πληροφοριών που περιέχονται στις τελικές εκθέσεις. Παρέχει επίσης έναν απλό επεξεργαστή για να προσθέσετε ή να αφαιρέσετε πληροφορίες στην αναφορά. Σημειώστε ότι η τελική απόδοση μπορεί να διαφέρει ανάλογα με την επιλεγμένη μορφή εξαγωγής.</li>
                </ul>

                <header class="article-title" style="margin-top: 10px;">
                    <h3 class="node__title mb-3 mt-0">Επεξεργασία/εξαγωγή γραμμής εργαλείων</h3>
                </header>
                <p>Γραμμή εργαλείων επεξεργασίας/εξαγωγής για την επεξεργασία πληροφοριών των εκθέσεων και για την εξαγωγή σε δεδομένη μορφή:</p>
                <table border="2">
                    <tr>
                        <td><button  color="blue"><i class="fas fa-pen"></i> Επεξεργασία</button></td>
                        <td>Ανοίξτε έναν απλό επεξεργαστή στο πλαίσιο προεπισκόπησης για την προσθήκη ή την κατάργηση πληροφοριών στην παραγόμενη αναφορά. Σημειώστε ότι οι τροποποιημένες πληροφορίες θα είναι ορατές μόνο κατά την εξαγωγή σε pdf ή docx. Η επιλογή νέων φίλτρων από τη <i>γραμμή εργαλείων φιλτραρίσματος πληροφοριών</i> διαγράφει όλες τις τρέχουσες τροποποιήσεις.</td>
                    </tr>
                    <tr>
                        <td><button  color="blue"><i
                                    class="fas fa-file-import"></i> Αποθήκευση ως JSON</button></td>
                        <td>Εξαγωγή ανεπεξέργαστων πληροφοριών μιας δεδομένης <i>ανάλυσης,</i> <i>σεναρίου</i> ή <i>κάρτας</i> χρησιμοποιώντας τη μορφή JavaScript Object Notation (JSON).</td>
                    </tr>
                    <tr>
                        <td><button  color="blue"><i
                                    class="fas fa-file-import"></i> Αποθήκευση ως XLSX</button></td>
                        <td>Εξαγωγή μη επεξεργασμένων πληροφοριών μιας δεδομένης <i>ανάλυσης,</i> <i>σεναρίου</i> ή <i>κάρτας</i> σε υπολογιστικά φύλλα με τη μορφή Office Open XML (XLXS).</td>
                    </tr>
                    <tr>
                        <td><button  color="blue"><i
                                    class="fas fa-file-import"></i> Αποθήκευση ως PDF </button></td>
                        <td>Εξαγωγή μορφοποιημένων πληροφοριών μιας δεδομένης <i>ανάλυσης,</i> <i>σεναρίου</i> ή <i>κάρτας</i> σε μορφή φορητού εγγράφου (PDF).</td>
                    </tr>
                    <tr>
                        <td><button  color="blue"><i
                                    class="fas fa-file-import"></i> Αποθήκευση ως Docx </button></td>
                        <td>Εξαγωγή μορφοποιημένων πληροφοριών μιας δεδομένης <i>ανάλυσης,</i> <i>σεναρίου</i> ή <i>κάρτας</i> σε επεξεργάσιμο Office Open XML (DOCX).</td>
                    </tr>
                </table>

                <p>Οι μορφοποιημένες πληροφορίες αντιστοιχούν στη δημιουργία αναπαράστασης HTML μιας αναφοράς με βάση ένα πρότυπο σε μορφή PUG. Νέα πρότυπα μπορούν να εισαχθούν στην <span
                        class="mat-list-item nav-item px-xl-3 text-uppercase is-active">ενότητα Πρότυπο</span> της αριστερής γραμμής πλοήγησης και να επιλεγούν στη <i>γραμμή εργαλείων φιλτραρίσματος πληροφοριών.</i></p>

                <header class="article-title" style="margin-top: 10px;">
                    <h3 class="node__title mb-3 mt-0">Γραμμή εργαλείων φιλτραρίσματος πληροφοριών</h3>
                </header>
                <p>Η γραμμή εργαλείων φιλτραρίσματος πληροφοριών επιτρέπει την επιλογή ανάλυσης, σεναρίων και καρτών ανάλογα με την ταυτοποίησή τους ή την αντίστοιχη αξιολόγησή τους σύμφωνα με τις επιλογές ή ένα υπόδειγμα:<p><table border="2">
                    <tr>
                        <td>Επιλογή προτύπου</td>
                        <td>Χρήση προτύπου έχει εισαχθεί από την <span
                                class="mat-list-item nav-item px-xl-3 text-uppercase is-active">ενότητα Πρότυπο</span> στην αριστερή πλευρά της γραμμής πλοήγησης.</td>
                    </tr>
                    <tr>
                        <td>Επιλογή ετικετών για αναφορά</td>
                        <td>Κατά την αναφορά μιας πλήρους ανάλυσης, επιτρέπει την επιλογή ενός συνόλου σεναρίων ή όλων των σεναρίων που θα συμπεριληφθούν στην αναφορά.</td>
                    </tr>
                    <tr>
                        <td>Επιλογή καρτών για αναφορά</td>
                        <td>Κατά την αναφορά μιας ανάλυσης ή ενός σεναρίου, επιτρέπει την επιλογή ενός συνόλου καρτών ή όλων των καρτών που θα συμπεριληφθούν στην αναφορά.</td>
                    </tr>
                    <tr>
                        <td>Επιλογή αξιολογήσεων για αναφορά</td>
                        <td>Κατά την αναφορά μιας ανάλυσης, ενός σεναρίου ή μιας κάρτας, επιτρέπει την επιλογή αξιολογήσεων ή σχολίων που θα συμπεριληφθούν στην έκθεση. Σημειώστε ότι αυτή η επιλογή ισχύει επίσης για γραμμές σε cookies, τοπική αποθήκευση, beacons και testssl.</td>
                    </tr>
                </table>

                <p>Οι επιλογές προτύπου και φιλτραρίσματος είναι αμοιβαία συμπεριληπτικές. Ως εκ τούτου, τα πρότυπα μπορούν να είναι πλήρεις πληροφορίες σχετικά με την ανάλυση, τα σενάρια και τις κάρτες που θα μπορούσαν αργότερα να επιλεγούν μέσω των επιλογών φιλτραρίσματος.</p>

                <header class="article-title" style="margin-top: 10px;">
                    <h2 class="node__title mb-3 mt-0">Επεξεργασία νέων προτύπων</h2>
                </header>
                <p>Ωστόσο, η μόνη υποστηριζόμενη σύνταξη για το πρότυπο είναι το <a target="_blank"
                        href="https://github.com/pugjs/pug">PUG.</a> Οι αναφορές που δημιουργούνται από ένα πρότυπο αντιστοιχούν στο αντικείμενο αντικειμένου δεδομένων που περιέχεται στο json μιας ανάλυσης, ενός σεναρίου ή μιας κάρτας στους αντίστοιχους <i>ντόπιους</i> στη σύνταξη pug.</p>
                <p>Μπορείτε να ανατρέξετε στην ενότητα <i>Γλωσσική Αναφορά</i> της <a
                        target="_blank"
                        href="https://pugjs.org/api/getting-started.html">επίσημης ιστοσελίδας</a> της για να λάβετε πλήρεις πληροφορίες στη σύνταξή της.</p>

                <p>Η<mat-icon>περιγραφή</mat-icon><span
                        class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Το πρότυπο παρέχει</span> ένα σύνολο ενεργειών για την εισαγωγή, επεξεργασία ή αντιγραφή υπαρχόντων προτύπων:</p>

                <table border="2">
                    <tr>
                        <td><button  color="blue"><i class="fas fa-plus"></i> Νέο υπόδειγμα</button></td>
                        <td>Εισαγάγετε ένα πρότυπο στη σύνταξη με ένα όνομα και έναν συντάκτη για τη μεταγενέστερη χρήση του σε αναφορές.</td>
                    </tr>
                    <tr>
                        <td><a href="javascript:;"> <i class="fa fa-download" aria-hidden="true"></i> </a> <a href="javascript:;"> <i class="fa fa-trash" aria-hidden="true"></i> </a></td>
                        <td>Αντίστοιχα κατεβάστε και διαγράψτε τα εισαγόμενα πρότυπα</td>
                    </tr>
                </table>

                <p>Ως πρώτη εισαγωγή για τη δημιουργία νέων προτύπων, συνιστούμε τη λήψη μιας ανάλυσης, ενός σεναρίου ή μιας ετικέτας από τη <i>γραμμή εργαλείων Επεξεργασία/εξαγωγή</i> σε ακατέργαστη μορφή JSON για την εύρεση αντίστοιχων καταχωρήσεων.</p>
                <p>Πολλά online Pug Testing Tool επιτρέπουν την αντιγραφή / επικόλληση του προτύπου PUG και των πληροφοριών JSON για την απόδοση της τελικής HTML. <i>Το προεπιλεγμένο πρότυπο</i> μπορεί επίσης να εξαχθεί ως αναφορά.</p>
            </div>
        </div>
    </div>
</div>