<div class="row" style="margin-top: 10px;">
    <div class="col-12 px-4 px-xl-5 order-0">
        <div id="block-pagetitle" class="block block-core block-page-title-block">
            <div class="content">
                <header class="article-title" style="margin-top: 10px;">
                    <h1 class="node__title mb-3 mt-0">Comment fonctionne l’outil</h1>
                </header>
                <div class="view-header mb-4 w-100">
                    <p>L’outil d’audit du site web de l’EDPB introduit une couche conviviale pour le navigateur Chromium afin d’aider à évaluer en un coup d’œil si un site web collecte ou stocke des informations dans un navigateur de manière conforme (c’est-à-dire en<i>informant</i>et en recueillant le consentement de l’utilisateur lorsque cela est nécessaire).</p>

                    <p>Toutes les données probantes peuvent être stockées dans les outils grâce à une <i>analyse</i> qui rassemble différents <i>scénarios</i>, représentant une interaction (par<i>exemple</i> consentement, refus, etc.) avec le site web concerné.</p>

                    <p>L’évaluation est facilitée par des outils automatisés, tandis que la décision sur la conformité ou la non-conformité est prise par l’agent chargé du dossier.</p>

                    <p>La <i>base de connaissances </i>peut aider à identifier les traqueurs connus. <i>Le modèle</i> peut être utilisé pour personnaliser les rapports pour un scénario donné.</p>

                    <p>Grâce à la barre de navigation du côté gauche, vous pouvez accéder à toutes ces fonctionnalités:</p>
                    <table border="2">
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Parcourir</span></td>
                            <td>Prenez un aperçu rapide des données personnelles stockées ou transférées dans ou par le navigateur. Les résultats ne seront pas stockés dans l’outil.</td>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Nouveau</span></td>
                            <td>Lancer une nouvelle analyse de site Web pour recueillir des preuves. Les éléments de preuve sont stockés dans l’outil pour une évaluation ultérieure de leur conformité aux exigences légales.</td>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Liste</span></td>
                            <td>Liste des analyses stockées dans l’outil avec leur évaluation.</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Analyse > Scénario</span></td>
                            <td>Session en cours jointe à une analyse et à un scénario dans cette analyse. Des preuves peuvent être jointes à l’analyse et au scénario référencés jusqu’à la clôture de cette session. Une fois fermé, aucune preuve ne peut plus être jointe à cette analyse et à ce scénario.</td>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Base de connaissances</span></td>
                            <td>La base de connaissances répertorie les traqueurs connus et leurs objectifs correspondants. Ces informations peuvent être consultées de manière dynamique lors de la navigation ou de l’évaluation de la conformité d’un site Web. Il ne sert qu’à faciliter l’analyse par l’agent chargé du dossier.</td>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Gabarit</span></td>
                            <td>Les modèles sont utilisés pour générer des rapports adaptés aux besoins spécifiques.</td>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Paramètres</span></td>
                            <td>Personnalisez les informations affichées lors de la navigation ou de l’évaluation de la conformité d’un scénario donné.</td>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Aide</span></td>
                            <td>Référence à la documentation de cet outil.</td>
                        </tr>
                    </table><br><p>Dans un premier temps, nous vous recommandons de jeter un coup d’œil à la section <a
                            href="#/helps/new_analysis">Fournir une nouvelle analyse</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
