<div class="row" style="margin-top: 10px;">
    <div class="col-12 px-4 px-xl-5 order-0">
        <div id="block-pagetitle" class="block block-core block-page-title-block">
            <div class="content">
                <header class="article-title" style="margin-top: 10px;">
                    <h1 class="node__title mb-3 mt-0">How the tool works</h1>
                </header>
                <div class="view-header mb-4 w-100">
                    <p>The EDPB website auditing tool introduces a user-friendly layer to the
                        Chromium browser in order to help assess at a glance whether or not a
                        website
                        collects or stores information in a browser in a compliant way
                        (<i>i.e.</i>by informing and gathering user consent when this is
                        required).</p>

                    <p>All evidence data can be stored in
                        the tools through an <i>analysis</i> that gathers different
                        <i>scenarios</i>, representing an interaction (<i>e.g.</i> consent,
                        refusal, etc.) with the given website.
                    </p>

                    <p>The assessment is facilitated with automated tools, while the decision on
                        compliance / non-compliance is made by the case officer.</p>

                    <p>The <i>Knowledge base </i>can help identify known trackers.
                        <i>Template</i> can be used to
                        personalise reports for a given scenario.
                    </p>

                    <p>Through the left side navigation bar, you can access to all these
                        functionalities:</p>
                    <table border="2">
                        <tr style="font-size: 16px;">
                            <td>
                                <span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Browse</span>
                            </td>
                            <td>
                                Take a quick overview
                                of the personal data stored or transferred in or by the
                                browser. The results will not be stored in the tool.
                            </td>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td>
                                <span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">New</span>
                            </td>
                            <td>
                                Initiate a new website analysis for collecting evidence.
                                Evidence is stored in the tool for later assessment of their
                                compliance with legal requirements.
                            </td>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td>
                                <span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">List</span>
                            </td>
                            <td>
                                List of analysis stored in the tool with their
                                assessment.
                            </td>
                        </tr>
                        <tr>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td>
                                <span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Analysis
                                    > Scenario</span>
                            </td>
                            <td>
                                Current session attached to an analysis and a scenario in this
                                analysis. Evidence can be attached to the referenced analysis
                                and scenario until this session is closed. Once closed, no
                                evidence can be attached anymore to this analysis and scenario.
                            </td>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td>
                                <span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Knowledge
                                    Base</span>
                            </td>
                            <td>
                                The knowledge base lists known trackers and their
                                corresponding purposes. This information can be accessed
                                dynamically whilst browsing or assessing the compliance of a
                                website.The knowledge base can be edited with new information
                                gathered by the case officer.
                                It serves only as a tool to facilitate the analysis by the case
                                officer.
                            </td>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td>
                                <span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Template</span>
                            </td>
                            <td>
                                Templates are used for generating reports tailored to specific
                                needs.
                            </td>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td>
                                <span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Settings</span>
                            </td>
                            <td>
                                Customize the information displayed while browsing or assessing
                                the compliance of a given scenario.
                            </td>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td>
                                <span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Help</span>
                            </td>
                            <td>
                                Reference to the documentation of this tool.
                            </td>
                        </tr>
                    </table>
                    <br>
                    <p>As a first introduction, we recommend
                        that you take a look at the section <a
                            href="#/helps/new_analysis">Provide new analysis</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
