<div class="row" style="margin-top: 10px;">
    <div class="col-12 px-4 px-xl-5 order-0">
        <div id="block-pagetitle" class="block block-core block-page-title-block">
            <div class="content">
                <header class="article-title" style="margin-top: 10px;">
                    <h1 class="node__title mb-3 mt-0">Wie das Tool funktioniert</h1>
                </header>
                <div class="view-header mb-4 w-100">
                    <p>Das EDPB-Website-Auditing-Tool führt dem Chromium-Browser eine benutzerfreundliche Ebene ein, um auf einen Blick beurteilen zu können, ob eine Website Informationen in einem Browser konform sammelt oder speichert (d. h.<i>durch</i>Information und Einholung der Einwilligung des Nutzers, wenn dies erforderlich ist).</p>

                    <p>Alle Evidenzdaten können in den Tools durch eine <i>Analyse</i> gespeichert werden, die verschiedene <i>Szenarien</i> sammelt und eine Interaktion (z.<i>B.</i> Einwilligung, Ablehnung usw.) mit der gegebenen Website darstellt.</p>

                    <p>Die Bewertung wird durch automatisierte Instrumente erleichtert, während die Entscheidung über die Einhaltung/Nichteinhaltung durch den Sachbearbeiter getroffen wird.</p>

                    <p>Die <i>Wissensdatenbank </i>kann dabei helfen, bekannte Tracker zu identifizieren. Die<i>Vorlage</i> kann verwendet werden, um Berichte für ein bestimmtes Szenario zu personalisieren.</p>

                    <p>Über die linke Navigationsleiste können Sie auf alle diese Funktionen zugreifen:</p>
                    <table border="2">
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Durchstöbern</span></td>
                            <td>Verschaffen Sie sich einen schnellen Überblick über die im oder durch den Browser gespeicherten oder übertragenen personenbezogenen Daten. Die Ergebnisse werden nicht im Tool gespeichert.</td>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Neu</span></td>
                            <td>Starten Sie eine neue Website-Analyse zum Sammeln von Beweisen. Nachweise werden im Tool für eine spätere Bewertung der Einhaltung der gesetzlichen Anforderungen gespeichert.</td>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Liste</span></td>
                            <td>Liste der Analysen, die im Tool mit ihrer Bewertung gespeichert sind.</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Analyse > Szenario</span></td>
                            <td>Aktuelle Sitzung an eine Analyse und ein Szenario in dieser Analyse angehängt. Nachweise können der referenzierten Analyse und dem Szenario beigefügt werden, bis diese Sitzung abgeschlossen ist. Nach dem Schließen können dieser Analyse und dem Szenario keine Beweise mehr beigefügt werden.</td>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Wissensbasis</span></td>
                            <td>Die Wissensdatenbank listet bekannte Tracker und deren entsprechende Zwecke auf. Diese Informationen können dynamisch während des Surfens oder der Bewertung der Einhaltung einer Website abgerufen werden.Die Wissensdatenbank kann mit neuen Informationen bearbeitet werden, die vom Sachbearbeiter gesammelt wurden. Es dient nur als Werkzeug, um die Analyse durch den Sachbearbeiter zu erleichtern.</td>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Schablone</span></td>
                            <td>Vorlagen werden für die Erstellung von Berichten verwendet, die auf spezifische Bedürfnisse zugeschnitten sind.</td>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Einstellungen</span></td>
                            <td>Passen Sie die angezeigten Informationen während des Surfens oder der Bewertung der Einhaltung eines bestimmten Szenarios an.</td>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Hilfe</span></td>
                            <td>Verweis auf die Dokumentation dieses Tools.</td>
                        </tr>
                    </table><br><p>Als erste Einführung empfehlen wir Ihnen, einen Blick auf den Abschnitt <a
                            href="#/helps/new_analysis">Bereitstellung neuer Analysen</a> zu werfen.</p>
                </div>
            </div>
        </div>
    </div>
</div>
