<div class="row" style="margin-top: 10px;">
    <div class="col-12 px-4 px-xl-5 order-0">
        <div id="block-pagetitle" class="block block-core block-page-title-block">
            <div class="content">
                <header class="article-title" style="margin-top: 10px;">
                    <h1 class="node__title mb-3 mt-0">Come funziona lo strumento</h1>
                </header>
                <div class="view-header mb-4 w-100">
                    <p>Lo strumento di audit del sito web dell&#39;EDPB introduce un livello di facile utilizzo nel browser Chromium per aiutare a valutare a colpo d&#39;occhio se un sito web raccoglie o memorizza informazioni in un browser in modo conforme (ad<i>esempio informando</i>e raccogliendo il consenso dell&#39;utente quando necessario).</p>

                    <p>Tutti i dati probatori possono essere conservati negli strumenti attraverso un&#39;analisi <i></i> che raccoglie diversi <i>scenari,</i> rappresentando un&#39;interazione (ad<i>esempio consenso,</i> rifiuto, ecc.) con il sito web in questione.</p>

                    <p>La valutazione è facilitata da strumenti automatizzati, mentre la decisione sulla conformità/non conformità è presa dal funzionario esaminatore.</p>

                    <p>La <i>Knowledge Base </i>può aiutare a identificare i tracker noti. <i>Il modello</i> può essere utilizzato per personalizzare i report per un determinato scenario.</p>

                    <p>Attraverso la barra di navigazione sul lato sinistro, è possibile accedere a tutte queste funzionalità:</p>
                    <table border="2">
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Sfoglia</span></td>
                            <td>Fai una rapida panoramica dei dati personali memorizzati o trasferiti nel o dal browser. I risultati non verranno memorizzati nello strumento.</td>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Nuovo</span></td>
                            <td>Avviare una nuova analisi del sito web per la raccolta di prove. Le prove sono conservate nello strumento per una successiva valutazione della loro conformità ai requisiti legali.</td>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Elenco</span></td>
                            <td>Elenco delle analisi memorizzate nello strumento con la loro valutazione.</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Analisi > Scenario</span></td>
                            <td>Sessione corrente allegata a un&#39;analisi e uno scenario in questa analisi. Le prove possono essere allegate all&#39;analisi e allo scenario di riferimento fino alla chiusura di questa sessione. Una volta chiusa, nessuna prova può più essere allegata a questa analisi e scenario.</td>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Base di conoscenza</span></td>
                            <td>La base di conoscenza elenca i tracker noti e i loro scopi corrispondenti. È possibile accedere a queste informazioni in modo dinamico durante la navigazione o la valutazione della conformità di un sito web. La base di conoscenze può essere modificata con nuove informazioni raccolte dal funzionario esaminatore. Serve solo come strumento per facilitare l’analisi da parte del funzionario esaminatore.</td>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Modello</span></td>
                            <td>I modelli vengono utilizzati per generare report su misura per esigenze specifiche.</td>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Impostazioni</span></td>
                            <td>Personalizzare le informazioni visualizzate durante la navigazione o la valutazione della conformità di un determinato scenario.</td>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Aiuto</span></td>
                            <td>Riferimento alla documentazione di questo strumento.</td>
                        </tr>
                    </table><br><p>Come prima introduzione, si consiglia di dare un&#39;occhiata alla sezione <a
                            href="#/helps/new_analysis">Fornire nuove analisi.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
