<div class="row" style="margin-top: 10px;">
    <div class="col-12 px-4 px-xl-5 order-0">
        <div id="block-pagetitle" class="block block-core block-page-title-block">
            <div class="content">
                <header class="article-title" style="margin-top: 10px;">
                    <h1 class="node__title mb-3 mt-0">Cómo funciona la herramienta</h1>
                </header>
                <div class="view-header mb-4 w-100">
                    <p>La herramienta de auditoría de sitios web del CEPD introduce una capa fácil de usar en el navegador Chromium para ayudar a evaluar de un vistazo si un sitio web recopila o almacena información en un navegador de manera conforme (es<i>decir,</i>informando y recabando el consentimiento del usuario cuando sea necesario).</p>

                    <p>Todos los datos probatorios pueden almacenarse en las herramientas a través de un <i>análisis</i> que reúne diferentes <i>escenarios,</i> que representan una interacción (por<i>ejemplo, consentimiento,</i> denegación, etc.) con el sitio web dado.</p>

                    <p>La evaluación se facilita con herramientas automatizadas, mientras que la decisión sobre el cumplimiento/incumplimiento la toma el funcionario encargado del caso.</p>

                    <p>La <i>base de conocimientos </i>puede ayudar a identificar rastreadores conocidos. <i>La plantilla</i> se puede utilizar para personalizar los informes para un escenario determinado.</p>

                    <p>A través de la barra de navegación lateral izquierda, puede acceder a todas estas funcionalidades:</p>
                    <table border="2">
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Navegar</span></td>
                            <td>Obtenga una visión general rápida de los datos personales almacenados o transferidos en o por el navegador. Los resultados no se almacenarán en la herramienta.</td>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Nuevo</span></td>
                            <td>Iniciar un nuevo análisis del sitio web para recopilar evidencia. Las pruebas se almacenan en la herramienta para una evaluación posterior de su cumplimiento de los requisitos legales.</td>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Lista</span></td>
                            <td>Lista de análisis almacenados en la herramienta con su evaluación.</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Análisis > Escenario</span></td>
                            <td>Sesión actual adjunta a un análisis y un escenario en este análisis. Se puede adjuntar evidencia al análisis y escenario referenciado hasta que se cierre esta sesión. Una vez cerrado, ya no se pueden adjuntar pruebas a este análisis y escenario.</td>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Base de conocimientos</span></td>
                            <td>La base de conocimientos enumera los rastreadores conocidos y sus propósitos correspondientes. Se puede acceder a esta información de forma dinámica mientras navega o evalúa el cumplimiento de un sitio web. Únicamente sirve como herramienta para facilitar el análisis por parte del funcionario encargado del caso.</td>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Plantilla</span></td>
                            <td>Las plantillas se utilizan para generar informes adaptados a necesidades específicas.</td>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Configuración</span></td>
                            <td>Personalice la información mostrada mientras navega o evalúa el cumplimiento de un escenario determinado.</td>
                        </tr>
                        <tr style="font-size: 16px;">
                            <td><span
                                    class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Ayuda</span></td>
                            <td>Referencia a la documentación de esta herramienta.</td>
                        </tr>
                    </table><br><p>Como primera introducción, le recomendamos que eche un vistazo a la sección <a
                            href="#/helps/new_analysis">Proporcionar un nuevo análisis.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
