<div class="row" style="margin-top: 10px;">
    <div class="col-12 px-4 px-xl-5 order-0">
        <div id="block-pagetitle" class="block block-core block-page-title-block">
            <div class="content">
                <header class="article-title" style="margin-top: 10px;">
                    <h1 class="node__title mb-3 mt-0">Base de connaissances</h1>
                </header>
                <p>Les informations stockées dans les navigateurs d’un site Web peuvent avoir des fins multiples, soit
                    pour le bon fonctionnement du site Web, soit à des fins subsidiaires telles que le suivi de la
                    navigation des utilisateurs pour la diffusion de publicités ciblées. En tant que tel, certains
                    peuvent exiger le consentement avant leur utilisation par le site Web, ou par des tiers, pour se
                    conformer aux exigences légales, tandis que d’autres pourraient être exemptés.</p>
                <p>Beaucoup de ces trackers sont stockés via SDK externe développé par des sociétés tierces, car ils
                    partagent des propriétés communes entre les sites Web, tels que le domaine, le nom de clé ou les
                    scripts.</p>

                <p>Les bases de connaissances peuvent aider à identifier ces traqueurs, ainsi que la consolidation des
                    connaissances au cas par cas au cours de l’analyse au cas par cas.</p>

                <p>L’identification des trackers connus se produit lors de la navigation en sélectionnant un cookie ou
                    la ligne de clé d’un stockage local à partir des cartes correspondantes via le panneau enregistreur
                    du navigateur interne.</p>
                <p>Ces mêmes informations sont également accessibles dans <strong>Plus de détails</strong> tout en
                    évaluant la conformité juridique d’une analyse. Le panneau d’extension <strong>Ajouter cet élément à
                        une base de connaissances</strong> permet également d’ajouter des trackers encore inconnus pour
                    leur évaluation ultérieure.</p>

                <p>Enfin, le contenu complet des connaissances est accessible via la <button> <span
                            class="text-uppercase is-active"> base de connaissances</span> </button> dans la catégorie
                    <strong style="color: rgba(0,0,0,.54);">Éditeur</strong> dans la barre de navigation du côté gauche.
                <p>
                <header class="article-title" style="margin-top: 10px;">
                    <h2 class="node__title mb-3 mt-0">Modification d’une base de connaissances</h2>
                </header>

                <p>Chaque base de connaissances est identifiée par un nom et un auteur. Il est composé d’un ensemble
                    d’entrées qui peuvent cibler les cookies ou la clé dans le stockage local.</p>

                <p>Le tableau suivant détaille le but de chaque élément dans la section <button> <span
                            class="text-uppercase is-active"> Base de connaissances</span></button>:</p>

                <table border="2">
                    <tr>
                        <td><button color="blue"><i class="fas fa-plus"></i> Nouvelle base de données</button></td>
                        <td>Par défaut, l’outil d’audit du site Web ne contient aucune base de connaissances. Les
                            utilisateurs peuvent en créer un nouveau, sélectionner un nom et la catégorie appropriée
                            (<i>cookie</i> ou <i>stockage local</i>).</td>
                    </tr>
                    <tr>
                        <td><button color="blue"><i class="fas fa-file-import"></i> Importation </button></td>
                        <td>Ils peuvent également importer des bases de données existantes au format json qui ont déjà
                            été créées par d’autres via l’outil d’audit du site Web.</td>
                    </tr>
                    <tr>
                        <td><button color="blue"><i class="fas fa-file-export"></i> Exporter tout </button></td>
                        <td>Enfin, ils peuvent exporter toutes les bases de données contenues dans cet outil via un
                            fichier json-format, à des fins de partage ou d’archivage.</td>
                    </tr>
                </table>
                <p>Les entrées de base de données peuvent également être gérées individuellement via l’ensemble de
                    boutons <a class="base-tooltip"> <i class="fa fa-eye" aria-hidden="true"></i> </a> <a
                        class="base-tooltip"> <i class="fa fa-download" aria-hidden="true"></i> </a> <a
                        href="javascript:;" class="base-tooltip"> <i class="fa fa-files-o" aria-hidden="true"></i> </a>
                    <a href="javascript:;" class="base-tooltip"> <i class="fa fa-trash" aria-hidden="true"></i></a>, qui
                    permettent respectivement l’affichage, le téléchargement, la duplication ou la suppression de
                    l’entrée sélectionnée.
                </p>
                <p>
                    Les bases de données sont associées à un niveau de certitude (Validé/fiable/informatif) et à une
                    couleur qui peut aider à effectuer une évaluation pour chaque traqueur.
                </p>
                <header class="article-title" style="margin-top: 10px;">
                    <h2 class="node__title mb-3 mt-0">Entrées de cookies</h2>
                </header>
                <p>Le <a class="base-tooltip"> <i class="fa fa-eye" aria-hidden="true"></i> </a> bouton d’une base de
                    connaissances sur les cookies donne une liste complète de toutes les entrées qu’il contient,
                    classées par domaine, nom et catégorie.</p>

                <p>Un clic sur une entrée de connaissance des cookies donne des informations plus détaillées sur cette
                    entrée:</p>
                <table border="2">
                    <tr>
                        <td><span style="color: #004494;">Catégorie</span></td>
                        <td>La finalité identifiée du cookie. Les entrées possibles sont les suivantes: <i>Publicité
                                ciblée, publicité</i> <i>non ciblée,</i> <i>technique,</i> analyse <i>(exemptée),</i>
                            analytique <i>(non exemptée),</i> médias <i>sociaux, médias</i> <i>sociaux,</i>
                            <i>personnalisation du contenu</i> ou<i>? (Inconnu)</i>.
                        </td>
                    </tr>
                    <tr>
                        <td><label>Domaine</label></td>
                        <td>Le domaine URL à partir duquel les cookies ont été stockés. Sa syntaxe comprend les
                            wildcards (*). Ainsi, si un cookie est déposé à partir d’URL de domaines tiers, tels que
                            «server1.adcompany.com» et «server2.adcompany.com», l’entrée attendue est «*.adcompany.com».
                            Si un cookie est nécessairement déposé à partir de l’URL du site Web visité (<i>première
                                partie</i>) et que le domaine n’est pas une information pertinente, alors l’entrée
                            attendue est «*».</td>
                    </tr>
                    <tr>
                        <td><label>Nom</label></td>
                        <td>La clé d’identification utilisée par le cookie. L’utilisation de wildcards (*) est également
                            acceptée. Ainsi, si un cookie est nommé «RTB_1234» et «RTB_5678», l’entrée attendue est
                            «RTB_*». Si un domaine est nécessairement associé à une finalité et que le nom du cookie
                            n’est pas pertinent, alors l’entrée attendue est «*».</td>

                    </tr>
                    <tr>
                        <td><label>Source</label></td>
                        <td>L’origine ou la source de l’identification.</td>

                    </tr>
                    <tr>
                        <td><label>Contrôleur de données</label></td>
                        <td>Le responsable du traitement des données identifié pour le traitement des données
                            identifiées. Utilisez «? si c’est inconnu.</td>
                    </tr>
                    <tr>
                        <td><label>Politique de confidentialité</label></td>
                        <td>L’URL de la politique de confidentialité si elle existe.</td>
                    </tr>
                    <tr>
                        <td><label>Type de référence</label></td>
                        <td>S’il y a des cas (<i>par</i> exemple des sanctions existantes) qui font référence à ce
                            cookie.</td>
                    </tr>
                    <tr>
                        <td><label>Commentaire</label></td>
                        <td>Les commentaires peuvent être utilisés pour ajouter des informations contextuelles sur le
                            cookie.</td>
                    </tr>
                </table>
                <p>Chaque entrée du formulaire affiché peut être modifiée d’un clic. Enfin, de nouvelles entrées peuvent
                    être ajoutées avec la <button color="blue"><i class="fas fa-plus"></i> nouvelle entrée de
                        cookie</button>.</p>
                <header class="article-title" style="margin-top: 10px;">
                    <h2 class="node__title mb-3 mt-0"> Mise à jour d’une base de données  </h2>
                </header>
                <p>
                    Chaque base de données peut être fusionnée avec d’autres bases de données exportées à l’aide de la fonction de base de données de mise à jour dans l’interface de vue. En sélectionnant un fichier.json à partir d’une base de données exportée, l’outil peut identifier les entrées nouvelles ou manquantes dans la base de données actuelle via l’interface suivante:
                <table border="2">
                    <tr>
                        <td>Database updates</td>
                    </tr>
                    <tr>
                        <td>
                            <span style="color: #004494;">New elements (10)</span>
                        </td>
                        <td>
                            Indicate the number (10) of new entries in the current database.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="color: #004494;">Deleted elements (20)</span>
                        </td>
                        <td>
                            Indicate the number (20) of missing entries in the current database.
                        </td>
                    </tr>
                </table>
                </p>
                <p>
                    Chaque modification peut être acceptée individuellement ou rejetée en étendant les panneaux d’éléments nouveaux ou supprimés: 
                <table border="2">
                    <tr>
                        <td>Add?</td>
                        <td>Domain</td>
                        <td>Name</td>
                        <td>Category</td>
                    </tr>
                    <tr>
                        <td>
                            <button>
                                <i class="fa fa-check" style="color: green;"></i>
                            </button>
                            <button>
                                <i class="fa fa-close" style="color: red;"></i>
                            </button>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                </table>
                </p>
                <p>
                    Ils peuvent tous être acceptés avec le bouton «Appliquer tous» et arrêtés à tout moment avec le bouton de rejet.
                </p>

                <header class="article-title" style="margin-top: 10px;">
                    <h2 class="node__title mb-3 mt-0">Entrées de stockage local</h2>
                </header>
                <p>Les entrées de stockage local fonctionnent de la même manière que les cookies. Cependant, ce dépôt ne
                    peut se produire que par le biais de scripts.</p>
                <p>Un clic sur une clé d’un stockage local donne des informations plus détaillées sur cette entrée:</p>
                <table border="2">
                    <tr>
                        <td><span style="color: #004494;">Catégorie</span></td>
                        <td>La finalité identifiée du cookie. Les entrées possibles sont les suivantes: <i>Publicité
                                ciblée, publicité</i> <i>non ciblée,</i> <i>technique,</i> analyse <i>(exemptée),</i>
                            analytique <i>(non exemptée),</i> médias <i>sociaux, médias</i> <i>sociaux,</i>
                            <i>personnalisation du contenu</i> ou<i>? (Inconnu)</i>.
                        </td>
                    </tr>
                    <tr>
                        <td><label>Clé</label></td>
                        <td>La valeur clé de cette entrée. L’utilisation de wildcards (*) est également acceptée. Si un
                            cookie est nommé «RTB_1234» et «RTB_5678», l’entrée attendue est «RTB_*».</td>
                    </tr>
                    <tr>
                        <td><label>Script</label></td>
                        <td>L’URL du script qui est utilisé pour gérer cette clé sélectionnée. Le journal de la pile
                            d’appels à l’origine du dépôt de la clé donnée sera analysé pour trouver le script
                            correspondant.</td>

                    </tr>
                    <tr>
                        <td><label>Source</label></td>
                        <td>L’origine ou la source de l’identification.</td>

                    </tr>
                    <tr>
                        <td><label>Contrôleur de données</label></td>
                        <td>Le responsable du traitement des données identifié pour le traitement des données
                            identifiées. Utilisez «? si c’est inconnu.</td>
                    </tr>
                    <tr>
                        <td><label>Politique de confidentialité</label></td>
                        <td>L’URL de la politique de confidentialité si elle existe.</td>
                    </tr>
                    <tr>
                        <td><label>Type de référence</label></td>
                        <td>S’il y a des cas (<i>par</i> exemple des sanctions existantes) qui se réfèrent à cette
                            entrée.</td>
                    </tr>
                    <tr>
                        <td><label>Commentaire</label></td>
                        <td>Les commentaires peuvent être utilisés pour ajouter des informations contextuelles sur le
                            cookie.</td>
                    </tr>
                </table>

                <p>Chaque entrée du formulaire affiché peut également être modifiée en cliquant sur l’information. De
                    nouvelles entrées peuvent être ajoutées avec la <button color="blue"><i class="fas fa-plus"></i>
                        nouvelle entrée de stockage local</button>.</p>

                <header class="article-title" style="margin-top: 10px;">
                    <h2 class="node__title mb-3 mt-0">Utilisation de la base de connaissances</h2>
                </header>

                <p>Chaque cookie ou entrée dans le stockage local qui est stocké pendant une session de navigation est
                    automatiquement scanné pour trouver des entrées correspondantes dans la base de connaissances.</p>

                <p>Les objectifs identifiés de la correspondance des entrées sont disponibles dans la ligne
                    <i>Catégorie</i> dans les tableaux des cartes de stockage de cookies et locaux, ainsi que dans
                    l’onglet suivant du panneau de détails lors de la sélection d’une ligne dans les tableaux
                    Connaissances.
                </p>



                <p>Si l’entrée actuelle a été trouvée dans au moins une base de connaissances, cet onglet répertorie
                    toutes les entrées correspondantes dans la base de connaissances selon sa catégorie.</p>
                <p>S’il s’agit d’un cookie, ces entrées sont classées comme suit:</p>
                <ul>
                    <li><i>Correspondance exacte</i>: au moins une entrée correspond au nom et au domaine du cookie,
                    </li>
                    <li><i>Nom de la correspondance:</i> au moins une entrée correspond au nom du cookie avec un domaine
                        wildcard (<i>*</i>),</li>
                    <li><i>Domaine</i> de correspondance: au moins une entrée correspond au domaine de ce cookie.</li>
                </ul>
                <p>S’il s’agit d’une clé dans le stockage local, au moins une entrée correspond à la clé ou au script
                    responsable de cette entrée.</p>

                    <p>
                        Toutes les bases de données sont associées à un niveau de confiance (Validé/fiable/informatif) et à une couleur, ce qui aide à identifier les cas où l’évaluation des objectifs diffère d’une base de connaissances à l’autre.
                    </p>

                <p>Vous pouvez vous référer à la section <a href="#/helps/new_analysis">Fournir une nouvelle analyse</a>
                    pour utiliser ces informations afin d’évaluer la conformité/non-conformité des sites Web
                    conformément aux exigences légales.</p>
            </div>
        </div>
    </div>
</div>