<div class="row" style="margin-top: 10px;">
    <div class="col-12 px-4 px-xl-5 order-0">
        <div id="block-pagetitle" class="block block-core block-page-title-block">
            <div class="content">
                <header class="article-title" style="margin-top: 10px;">
                    <h1 class="node__title mb-3 mt-0">Γνωσιακή βάση</h1>
                </header>
                <p>Οι πληροφορίες που αποθηκεύονται σε προγράμματα περιήγησης από έναν ιστότοπο μπορούν να έχουν πολλαπλούς σκοπούς, είτε για την ορθή λειτουργία του ιστότοπου είτε για δευτερεύοντες σκοπούς, όπως η παρακολούθηση της περιήγησης των χρηστών για την παροχή στοχευμένων διαφημίσεων. Ως εκ τούτου, ορισμένοι ενδέχεται να απαιτούν συγκατάθεση πριν από τη χρήση τους από τον ιστότοπο ή από τρίτους, προκειμένου να συμμορφώνονται με τις νομικές απαιτήσεις, ενώ άλλοι θα μπορούσαν να εξαιρεθούν.</p>
                <p>Πολλοί από αυτούς τους ιχνηλάτες αποθηκεύονται μέσω εξωτερικών SDK που αναπτύσσονται από τρίτες εταιρείες, καθώς μοιράζονται κοινές ιδιότητες μεταξύ ιστότοπων, όπως ο τομέας, το όνομα-κλειδί ή τα σενάρια.</p>

                <p>Οι βάσεις γνώσεων μπορούν να συμβάλουν στον εντοπισμό αυτών των ιχνηλατών, καθώς και στην παγίωση των γνώσεων με την πάροδο του χρόνου κατά τη διάρκεια της ανάλυσης κατά περίπτωση.</p>

                <p>Η αναγνώριση γνωστών ιχνηλατών πραγματοποιείται κατά την περιήγηση επιλέγοντας ένα cookie ή μια γραμμή κλειδιού τοπικού χώρου αποθήκευσης από τις αντίστοιχες κάρτες μέσω του πίνακα καταγραφής του εσωτερικού προγράμματος περιήγησης.</p>
                <p>Οι ίδιες πληροφορίες είναι επίσης προσβάσιμες σε <strong>περισσότερες λεπτομέρειες</strong> κατά την αξιολόγηση της συμμόρφωσης μιας ανάλυσης με τις κείμενες διατάξεις. Ο πίνακας επέκτασης <strong>Προσθέστε αυτό το στοιχείο σε μια βάση γνώσεων</strong> επιτρέπει επίσης την προσθήκη άγνωστων ακόμη ιχνηλατών για τη μεταγενέστερη αξιολόγησή τους.</p>

                <p>Τέλος, το πλήρες περιεχόμενο της γνώσης είναι προσβάσιμο μέσω της <button> <span class="text-uppercase is-active"> Γνωσιακής Βάσης</span> </button> στην κατηγορία <strong style="color: rgba(0,0,0,.54);">Επεξεργαστής</strong> στην αριστερή πλευρά της γραμμής πλοήγησης.<p><header class="article-title" style="margin-top: 10px;">
                    <h2 class="node__title mb-3 mt-0">Επεξεργασία βάσης γνώσεων</h2>
                </header>

                <p>Κάθε γνωστική βάση προσδιορίζεται από ένα όνομα και έναν συγγραφέα. Αποτελείται από ένα σύνολο καταχωρήσεων που μπορούν να στοχεύουν είτε τα cookies είτε το κλειδί στην τοπική αποθήκευση.</p>

                <p>Ο ακόλουθος πίνακας περιγράφει λεπτομερώς τον σκοπό κάθε στοιχείου στο τμήμα της <button> <span class="text-uppercase is-active"> Γνωσιακής Βάσης:</span> </button></p>

                <table border="2">
                    <tr>
                        <td><button  color="blue"><i class="fas fa-plus"></i> Νέα βάση δεδομένων</button></td>
                        <td>Από προεπιλογή, το εργαλείο ελέγχου ιστότοπου δεν περιέχει βάση γνώσεων. Οι χρήστες μπορούν είτε να δημιουργήσουν ένα νέο, είτε να επιλέξουν ένα όνομα και την κατάλληλη κατηγορία (cookie<i></i> ή <i>τοπική αποθήκευση).</i></td>
                    </tr>
                    <tr>
                        <td><button  color="blue"><i
                                    class="fas fa-file-import"></i> Εισαγωγή </button></td>
                        <td>Μπορούν επίσης να εισάγουν υπάρχουσες βάσεις δεδομένων σε μορφή json που έχουν ήδη δημιουργηθεί από άλλους μέσω του εργαλείου ελέγχου ιστοτόπων.</td>
                    </tr>
                    <tr>
                        <td><button  color="blue"><i
                                    class="fas fa-file-export"></i> Εξαγωγή όλων </button></td>
                        <td>Τέλος, μπορούν να εξάγουν όλες τις βάσεις δεδομένων που περιέχονται σε αυτό το εργαλείο μέσω αρχείου τύπου json, για σκοπούς κοινής χρήσης ή αρχειοθέτησης.</td>
                    </tr>
                </table>
                <p>Η διαχείριση των καταχωρίσεων στη βάση δεδομένων μπορεί επίσης να γίνεται μεμονωμένα μέσω του συνόλου <a class="base-tooltip"> <i class="fa fa-eye" aria-hidden="true"></i> </a> <a class="base-tooltip"> <i class="fa fa-download" aria-hidden="true"></i> </a> <a href="javascript:;" class="base-tooltip"> <i class="fa fa-files-o" aria-hidden="true"></i> </a> <a href="javascript:;" class="base-tooltip"> <i class="fa fa-trash" aria-hidden="true"></i> </a> των κουμπιών , τα οποία επιτρέπουν αντίστοιχα την προβολή, τη λήψη, την αναπαραγωγή ή την αφαίρεση της επιλεγμένης καταχώρισης.<header class="article-title" style="margin-top: 10px;">
                    <h2 class="node__title mb-3 mt-0">Καταχωρήσεις για cookies</h2>
                </header>
                <p>Το <a class="base-tooltip"> <i class="fa fa-eye" aria-hidden="true"></i> </a> κουμπί σε μια βάση γνώσεων cookie παρέχει μια ολοκληρωμένη εικόνα όλων των καταχωρίσεων που περιέχονται σε αυτήν, κατηγοριοποιημένες ανά τομέα, όνομα και κατηγορία.</p>

                <p>Με ένα κλικ σε μια καταχώριση γνώσεων σχετικά με τα cookies παρέχονται λεπτομερέστερες πληροφορίες σχετικά με την καταχώριση αυτή:</p>
                <table border="2">
                    <tr>
                        <td><span style="color: #004494;">Κατηγορία</span></td>
                        <td>Ο προσδιορισμένος σκοπός του cookie. Πιθανές καταχωρήσεις είναι: <i>Στοχευμένη διαφήμιση</i>, <i>μη στοχευμένη διαφήμιση</i>, <i>τεχνική</i>, <i>ανάλυση (εξαιρούμενη),</i> <i>ανάλυση (μη εξαιρούμενη),</i> <i>μέσα κοινωνικής δικτύωσης</i>, <i>μέσα κοινωνικής δικτύωσης</i>, <i>προσαρμογή περιεχομένου ή</i><i>; (Άγνωστο)</i>.</td>
                    </tr>
                    <tr>
                        <td><label>Τομέας</label></td>
                        <td>Ο τομέας διευθύνσεων URL από τον οποίο έχουν αποθηκευτεί τα cookies. Η σύνταξή του περιλαμβάνει μπαλαντέρ (*). Έτσι, εάν ένα cookie κατατεθεί από URL τομέων τρίτων, όπως &quot;server1.adcompany.com&quot; και &quot;server2.adcompany.com&quot;, η αναμενόμενη καταχώρηση είναι &quot;*.adcompany.com&quot;. Εάν ένα cookie κατατίθεται απαραιτήτως από τη διεύθυνση URL του ιστότοπου που επισκεφθήκατε (πρώτο<i>μέρος)</i>και ο τομέας δεν είναι σχετικές πληροφορίες, τότε η αναμενόμενη καταχώρηση είναι &quot;*&quot;.</td>
                    </tr>
                    <tr>
                        <td><label>Ονοματεπώνυμο</label></td>
                        <td>Το κλειδί αναγνώρισης που χρησιμοποιείται από το cookie. Η χρήση μπαλαντέρ (*) είναι επίσης αποδεκτή. Ως εκ τούτου, εάν ένα cookie ονομάζεται &quot;RTB_1234&quot; και &quot;RTB_5678&quot;, η αναμενόμενη είσοδος είναι &quot;RTB_*&quot;. Εάν ένας τομέας συνδέεται απαραιτήτως με έναν σκοπό και το όνομα του cookie δεν είναι σχετικό, τότε η αναμενόμενη καταχώρηση είναι &quot;*&quot;.</td>

                    </tr>
                    <tr>
                        <td><label>Πηγή</label></td>
                        <td>Η προέλευση ή η πηγή της ταυτοποίησης.</td>

                    </tr>
                    <tr>
                        <td><label>Ελεγκτής δεδομένων</label></td>
                        <td>Ο προσδιορισμένος υπεύθυνος επεξεργασίας δεδομένων για την προσδιορισμένη επεξεργασία δεδομένων. Χρησιμοποιήστε το «? εάν είναι άγνωστο.</td>
                    </tr>
                    <tr>
                        <td><label>Πολιτική απορρήτου</label></td>
                        <td>Η διεύθυνση URL της πολιτικής απορρήτου, εάν υπάρχει.</td>
                    </tr>
                    <tr>
                        <td><label>Τύπος αναφοράς</label></td>
                        <td>Εάν υπάρχουν περιπτώσεις (π.χ.<i></i> υφιστάμενες κυρώσεις) που αναφέρονται σε αυτό το cookie.</td>
                    </tr>
                    <tr>
                        <td><label>Σχόλιο</label></td>
                        <td>Τα σχόλια μπορούν να χρησιμοποιηθούν για την προσθήκη πληροφοριών σχετικά με τα συμφραζόμενα στο cookie.</td>
                    </tr>
                </table>
                <p>Κάθε καταχώρηση της εμφανιζόμενης φόρμας μπορεί να επεξεργαστεί με ένα κλικ. Τέλος, μπορούν να προστεθούν νέες καταχωρίσεις με τη <button 
                        color="blue"><i class="fas fa-plus"></i> νέα καταχώριση cookie</button>.</p>

                <header class="article-title" style="margin-top: 10px;">
                    <h2 class="node__title mb-3 mt-0">Καταχωρίσεις τοπικής αποθεματοποίησης</h2>
                </header>
                <p>Οι τοπικές καταχωρήσεις αποθήκευσης λειτουργούν με παρόμοιο τρόπο με τα cookies. Ωστόσο, αυτή η κατάθεση μπορεί να πραγματοποιηθεί μόνο μέσω σεναρίων.</p>
                <p>Με ένα κλικ σε ένα κλειδί τοπικής αποθήκευσης παρέχονται λεπτομερέστερες πληροφορίες σχετικά με αυτή την καταχώριση:</p>
                <table border="2">
                    <tr>
                        <td><span style="color: #004494;">Κατηγορία</span></td>
                        <td>Ο προσδιορισμένος σκοπός του cookie. Πιθανές καταχωρήσεις είναι: <i>Στοχευμένη διαφήμιση</i>, <i>μη στοχευμένη διαφήμιση</i>, <i>τεχνική</i>, <i>ανάλυση (εξαιρούμενη),</i> <i>ανάλυση (μη εξαιρούμενη),</i> <i>μέσα κοινωνικής δικτύωσης</i>, <i>μέσα κοινωνικής δικτύωσης</i>, <i>προσαρμογή περιεχομένου ή</i><i>; (Άγνωστο)</i>.</td>
                    </tr>
                    <tr>
                        <td><label>Κλειδί</label></td>
                        <td>Η βασική τιμή αυτής της καταχώρησης. Η χρήση μπαλαντέρ (*) είναι επίσης αποδεκτή. Εάν ένα cookie ονομάζεται &quot;RTB_1234&quot; και &quot;RTB_5678&quot;, η αναμενόμενη είσοδος είναι &quot;RTB_*&quot;.</td>
                    </tr>
                    <tr>
                        <td><label>Σενάριο</label></td>
                        <td>Η διεύθυνση URL της δέσμης ενεργειών που χρησιμοποιείται για τη διαχείριση αυτού του επιλεγμένου κλειδιού. Το αρχείο καταγραφής στοίβας κλήσεων στην προέλευση της κατάθεσης του δεδομένου κλειδιού θα αναλυθεί για να βρεθεί το σενάριο που ταιριάζει.</td>

                    </tr>
                    <tr>
                        <td><label>Πηγή</label></td>
                        <td>Η προέλευση ή η πηγή της ταυτοποίησης.</td>

                    </tr>
                    <tr>
                        <td><label>Ελεγκτής δεδομένων</label></td>
                        <td>Ο προσδιορισμένος υπεύθυνος επεξεργασίας δεδομένων για την προσδιορισμένη επεξεργασία δεδομένων. Χρησιμοποιήστε το «? εάν είναι άγνωστο.</td>
                    </tr>
                    <tr>
                        <td><label>Πολιτική απορρήτου</label></td>
                        <td>Η διεύθυνση URL της πολιτικής απορρήτου, εάν υπάρχει.</td>
                    </tr>
                    <tr>
                        <td><label>Τύπος αναφοράς</label></td>
                        <td>Εάν υπάρχουν περιπτώσεις (π.χ.<i></i> υφιστάμενες κυρώσεις) που αναφέρονται στην εν λόγω καταχώριση.</td>
                    </tr>
                    <tr>
                        <td><label>Σχόλιο</label></td>
                        <td>Τα σχόλια μπορούν να χρησιμοποιηθούν για την προσθήκη πληροφοριών σχετικά με τα συμφραζόμενα στο cookie.</td>
                    </tr>
                </table>

                <p>Κάθε καταχώρηση της εμφανιζόμενης φόρμας μπορεί επίσης να επεξεργαστεί με ένα κλικ στις πληροφορίες. Μπορούν να προστεθούν νέες καταχωρίσεις με νέα <button  color="blue">καταχώριση<i
                            class="fas fa-plus"></i> τοπικής αποθήκευσης.</button></p>

                <header class="article-title" style="margin-top: 10px;">
                    <h2 class="node__title mb-3 mt-0">Χρήση της βάσης γνώσεων</h2>
                </header>

                <p>Κάθε cookie ή είσοδος στην τοπική αποθήκευση που αποθηκεύεται κατά τη διάρκεια μιας περιόδου περιήγησης σαρώνεται αυτόματα για την εύρεση αντίστοιχων καταχωρήσεων στη βάση γνώσεων.</p>

                <p>Προσδιορισμένοι σκοποί αντιστοίχισης καταχωρήσεων είναι διαθέσιμοι στη γραμμή <i>Κατηγορία</i> στους πίνακες των καρτών cookie και τοπικής αποθήκευσης, καθώς και στην ακόλουθη καρτέλα από τον πίνακα λεπτομερειών κατά την επιλογή μιας γραμμής στους πίνακες Γνώση.</p>



                <p>Εάν η τρέχουσα καταχώριση έχει βρεθεί σε τουλάχιστον μία βάση γνώσεων, αυτή η καρτέλα απαριθμεί όλες τις αντίστοιχες καταχωρίσεις στη βάση γνώσεων ανάλογα με την κατηγορία της.</p>
                <p>Εάν πρόκειται για cookie, αυτές οι καταχωρήσεις κατηγοριοποιούνται ως εξής:</p>
                <ul>
                    <li><i>Ακριβής αντιστοιχία</i>: τουλάχιστον μία καταχώριση αντιστοιχεί στο όνομα και τον τομέα του cookie,</li>
                    <li><i>Ονομασία αγώνα :</i> τουλάχιστον μία καταχώριση αντιστοιχεί στο όνομα του cookie με τομέα μπαλαντέρ (<i>*</i>),</li>
                    <li><i>Τομέας αντιστοίχισης:</i> τουλάχιστον μία καταχώρηση αντιστοιχεί στον τομέα αυτού του cookie.</li>
                </ul>
                <p>Εάν είναι ένα κλειδί στην τοπική αποθήκευση, τουλάχιστον μία καταχώρηση ταιριάζει με το κλειδί ή το σενάριο που είναι υπεύθυνο για αυτήν την καταχώρηση.</p>


                <p>Μπορείτε να ανατρέξετε στην <a href="#/helps/new_analysis">ενότητα Παροχή νέας ανάλυσης</a> για τη χρήση αυτών των πληροφοριών προκειμένου να αξιολογήσετε τη συμμόρφωση / μη συμμόρφωση των ιστότοπων σύμφωνα με τις νομικές απαιτήσεις.</p>
            </div>
        </div>
    </div>
</div>