<div class="row" style="margin-top: 10px;">
    <div class="col-12 px-4 px-xl-5 order-0">
        <div id="block-pagetitle" class="block block-core block-page-title-block">
            <div class="content">
                <header class="article-title" style="margin-top: 10px;">
                    <h1 class="node__title mb-3 mt-0">Wissensbasis</h1>
                </header>
                <p>Informationen, die in Browsern von einer Website gespeichert werden, können mehrere Zwecke haben,
                    entweder für das ordnungsgemäße Funktionieren der Website oder für Nebenzwecke, wie z. B. das
                    Tracking des Surfens der Nutzer zur Bereitstellung gezielter Werbung. Daher kann es sein, dass
                    einige vor ihrer Nutzung durch die Website oder Dritte ihre Zustimmung benötigen, um den
                    gesetzlichen Anforderungen zu entsprechen, während andere davon ausgenommen werden könnten.</p>
                <p>Viele dieser Tracker werden über externe SDK gespeichert, die von Drittanbietern entwickelt wurden,
                    da sie gemeinsame Eigenschaften zwischen Websites wie der Domain, dem Schlüsselnamen oder Skripten
                    teilen.</p>

                <p>Wissensdatenbanken können helfen, diese Tracker zu identifizieren und das Wissen während der
                    Einzelfallanalyse im Laufe der Zeit zu konsolidieren.</p>

                <p>Die Identifizierung bekannter Tracker erfolgt während des Surfens, indem ein Cookie oder die
                    Schlüsselzeile eines lokalen Speichers von den entsprechenden Karten über das Logger-Panel des
                    internen Browsers ausgewählt wird.</p>
                <p>Diese Informationen sind auch unter <strong>Weitere Details</strong> bei der Bewertung der
                    rechtlichen Übereinstimmung einer Analyse zugänglich. Das Erweiterungspanel <strong>Fügen Sie dieses
                        Element zu einer Wissensdatenbank</strong> hinzu, können Sie auch noch unbekannte Tracker für
                    ihre spätere Bewertung hinzufügen.</p>

                <p>Schließlich ist der vollständige Inhalt des Wissens über die <button> <span
                            class="text-uppercase is-active"> Knowledge Base</span> </button> in der Kategorie <strong
                        style="color: rgba(0,0,0,.54);">Editor</strong> in der linken Navigationsleiste zugänglich.
                <p>
                <header class="article-title" style="margin-top: 10px;">
                    <h2 class="node__title mb-3 mt-0">Bearbeiten einer Wissensdatenbank</h2>
                </header>

                <p>Jede Wissensdatenbank wird durch einen Namen und einen Autor identifiziert. Es besteht aus einer
                    Reihe von Einträgen, die entweder auf Cookies oder Schlüssel in der lokalen Speicherung abzielen
                    können.</p>

                <p>Die folgende Tabelle beschreibt den Zweck jedes Elements im Abschnitt <button> <span
                            class="text-uppercase is-active"> Wissensdatenbank</span></button>:</p>

                <table border="2">
                    <tr>
                        <td><button color="blue"><i class="fas fa-plus"></i> Neue Datenbank</button></td>
                        <td>Standardmäßig enthält das Website-Auditing-Tool keine Wissensdatenbank. Benutzer können
                            entweder einen neuen erstellen, einen Namen und die entsprechende Kategorie (<i>Cookie</i>
                            oder <i>Local Storage</i>) auswählen.</td>
                    </tr>
                    <tr>
                        <td><button color="blue"><i class="fas fa-file-import"></i> Importieren </button></td>
                        <td>Sie können auch bestehende Datenbanken im json-Format importieren, die bereits von anderen
                            über das Website-Auditing-Tool erstellt wurden.</td>
                    </tr>
                    <tr>
                        <td><button color="blue"><i class="fas fa-file-export"></i> Exportieren Sie alle </button></td>
                        <td>Schließlich können sie alle Datenbanken, die in diesem Tool enthalten sind, über eine
                            json-Formatdatei exportieren, zum Teilen oder Archivieren.</td>
                    </tr>
                </table>
                <p>Datenbankeinträge können auch individuell über die Schaltflächen verwaltet werden, die <a
                        class="base-tooltip"> <i class="fa fa-eye" aria-hidden="true"></i> </a> <a class="base-tooltip">
                        <i class="fa fa-download" aria-hidden="true"></i> </a> <a href="javascript:;"
                        class="base-tooltip"> <i class="fa fa-files-o" aria-hidden="true"></i> </a> <a
                        href="javascript:;" class="base-tooltip"> <i class="fa fa-trash" aria-hidden="true"></i> </a>
                    das Betrachten, Herunterladen, Duplizieren oder Entfernen des ausgewählten Eintrags ermöglichen.
                </p>
                <p>
                    Datenbanken sind einem Grad an Sicherheit (Validated/zuverlässig/informativ) und einer Farbe
                    zugeordnet, die bei der Bewertung für jeden Tracker helfen kann.
                </p>


                <header class="article-title" style="margin-top: 10px;">
                    <h2 class="node__title mb-3 mt-0">Cookie-Einträge</h2>
                </header>

                <p>Die <a class="base-tooltip"> <i class="fa fa-eye" aria-hidden="true"></i> </a> Schaltfläche auf einer
                    Cookie-Wissensdatenbank bietet eine umfassende Übersicht aller darin enthaltenen Einträge, die nach
                    Domain, Name und Kategorie kategorisiert sind.</p>

                <p>Ein Klick auf einen Cookie-Wissenseintrag gibt detailliertere Informationen zu diesem Eintrag:</p>
                <table border="2">
                    <tr>
                        <td><span style="color: #004494;">Kategorie</span></td>
                        <td>Der identifizierte Zweck des Cookies. Mögliche Einträge sind: <i>Gezielte Werbung</i>,
                            <i>Non-Targeted Advertising</i>, <i>Technical</i>, <i>Analytics (ausgenommen)</i>,
                            <i>Analytik (nicht ausgenommen)</i>, <i>Social Media</i>, <i>Social Media</i>, <i>Content
                                Customization</i> oder<i>? (Unbekannt</i>)
                        </td>
                    </tr>
                    <tr>
                        <td><label>Domänen</label></td>
                        <td>Die URL-Domain, von der aus Cookies gespeichert wurden. Seine Syntax umfasst Wildcards (*).
                            Wenn also ein Cookie von der URL der Drittanbieter-Domains wie „server1.adcompany.com“ und
                            „server2.adcompany.com“ hinterlegt wird, lautet der erwartete Eintrag „*.adcompany.com“.
                            Wenn ein Cookie notwendigerweise von der besuchten Website-URL (<i>Erste Partei</i>)
                            hinterlegt wird und die Domain keine relevanten Informationen ist, dann ist der erwartete
                            Eintrag „*“.</td>
                    </tr>
                    <tr>
                        <td><label>Namen</label></td>
                        <td>Der vom Cookie verwendete Identifikationsschlüssel. Die Verwendung von Wildcards (*) wird
                            ebenfalls akzeptiert. Wenn ein Cookie als „RTB_1234“ und „RTB_5678“ bezeichnet wird, lautet
                            die erwartete Eingabe „RTB_*“. Wenn eine Domain notwendigerweise mit einem Zweck verbunden
                            ist und der Name des Cookies nicht relevant ist, ist der erwartete Eintrag „*“.</td>

                    </tr>
                    <tr>
                        <td><label>Quelle</label></td>
                        <td>Herkunft oder Herkunft der Identifizierung.</td>

                    </tr>
                    <tr>
                        <td><label>Datenkontroller</label></td>
                        <td>Der identifizierte Datenverantwortliche für die identifizierte Datenverarbeitung. Verwenden
                            Sie „? wenn es unbekannt ist.</td>
                    </tr>
                    <tr>
                        <td><label>Datenschutzerklärung</label></td>
                        <td>Die URL der Datenschutzerklärung, falls vorhanden.</td>
                    </tr>
                    <tr>
                        <td><label>Referenztyp</label></td>
                        <td>Wenn es Fälle gibt (z.<i>B.</i> bestehende Sanktionen), die sich auf dieses Cookie beziehen.
                        </td>
                    </tr>
                    <tr>
                        <td><label>Bemerkung</label></td>
                        <td>Kommentare können verwendet werden, um kontextbezogene Informationen zum Cookie
                            hinzuzufügen.</td>
                    </tr>
                </table>
                <p>Jeder Eintrag des angezeigten Formulars kann mit einem Klick bearbeitet werden. Schließlich können
                    neue Einträge mit <button color="blue"><i class="fas fa-plus"></i> Neuer Cookie-Eingabe</button>
                    hinzugefügt werden.</p>

                <header class="article-title" style="margin-top: 10px;">
                    <h2 class="node__title mb-3 mt-0">Lokale Speichereinträge</h2>
                </header>
                <p>Lokale Speichereinträge funktionieren ähnlich wie Cookies. Diese Einzahlung kann jedoch nur durch
                    Skripte erfolgen.</p>
                <p>Ein Klick auf einen Schlüssel eines lokalen Speichers gibt detailliertere Informationen zu diesem
                    Eintrag:</p>
                <table border="2">
                    <tr>
                        <td><span style="color: #004494;">Kategorie</span></td>
                        <td>Der identifizierte Zweck des Cookies. Mögliche Einträge sind: <i>Gezielte Werbung</i>,
                            <i>Non-Targeted Advertising</i>, <i>Technical</i>, <i>Analytics (ausgenommen)</i>,
                            <i>Analytik (nicht ausgenommen)</i>, <i>Social Media</i>, <i>Social Media</i>, <i>Content
                                Customization</i> oder<i>? (Unbekannt</i>)
                        </td>
                    </tr>
                    <tr>
                        <td><label>Schlüssel</label></td>
                        <td>Der Schlüsselwert dieses Eintrags. Die Verwendung von Wildcards (*) wird ebenfalls
                            akzeptiert. Wenn ein Cookie „RTB_1234“ und „RTB_5678“ genannt wird, lautet die erwartete
                            Eingabe „RTB_*“.</td>
                    </tr>
                    <tr>
                        <td><label>Script</label></td>
                        <td>Die URL des Skripts, die verwendet wird, um diesen ausgewählten Schlüssel zu verwalten. Das
                            Call-Stack-Protokoll am Ursprung der Ablage des angegebenen Schlüssels wird analysiert, um
                            das passende Skript zu finden.</td>

                    </tr>
                    <tr>
                        <td><label>Quelle</label></td>
                        <td>Herkunft oder Herkunft der Identifizierung.</td>

                    </tr>
                    <tr>
                        <td><label>Datenkontroller</label></td>
                        <td>Der identifizierte Datenverantwortliche für die identifizierte Datenverarbeitung. Verwenden
                            Sie „? wenn es unbekannt ist.</td>
                    </tr>
                    <tr>
                        <td><label>Datenschutzerklärung</label></td>
                        <td>Die URL der Datenschutzerklärung, falls vorhanden.</td>
                    </tr>
                    <tr>
                        <td><label>Referenztyp</label></td>
                        <td>Wenn es Fälle gibt (z.<i>B.</i> bestehende Sanktionen), die sich auf diesen Eintrag
                            beziehen.</td>
                    </tr>
                    <tr>
                        <td><label>Bemerkung</label></td>
                        <td>Kommentare können verwendet werden, um kontextbezogene Informationen zum Cookie
                            hinzuzufügen.</td>
                    </tr>
                </table>

                <p>Jeder Eintrag des angezeigten Formulars kann auch mit einem Klick auf die Informationen bearbeitet
                    werden. Neue Einträge können mit Neuem <button color="blue"><i class="fas fa-plus"></i> lokalen
                        Speichereintrag hinzugefügt werden</button>.</p>

                <header class="article-title" style="margin-top: 10px;">
                    <h2 class="node__title mb-3 mt-0">Updating a Database </h2>
                </header>
                <p>
                    Each single database can be merged with other exported database using the update database function
                    in the view interface. By selecting a .json file from an exported database, the tool can identify
                    new or missing entries in the current database through the following interface :
                <table border="2">
                    <tr>
                        <td>Aktualisieren einer Datenbank </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="color: #004494;">New elements (10)</span>
                        </td>
                        <td>
                            Indicate the number (10) of new entries in the current database.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="color: #004494;">Deleted elements (20)</span>
                        </td>
                        <td>
                            Indicate the number (20) of missing entries in the current database.
                        </td>
                    </tr>
                </table>
                </p>
                <p>
                    Jede Änderung kann einzeln akzeptiert oder abgelehnt werden, indem die neuen oder gelöschten
                    Elemente erweitert werden:
                <table border="2">
                    <tr>
                        <td>Add?</td>
                        <td>Domain</td>
                        <td>Name</td>
                        <td>Category</td>
                    </tr>
                    <tr>
                        <td>
                            <button>
                                <i class="fa fa-check" style="color: green;"></i>
                            </button>
                            <button>
                                <i class="fa fa-close" style="color: red;"></i>
                            </button>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                </table>
                </p>
                <p>
                    Sie können alle mit der Schaltfläche „Alle anwenden“ angenommen und jederzeit mit dem
                    Abschalten-Button gestoppt werden.
                </p>

                <header class="article-title" style="margin-top: 10px;">
                    <h2 class="node__title mb-3 mt-0">Wissensdatenbanknutzung</h2>
                </header>

                <p>Jeder Cookie oder Eintrag im lokalen Speicher, der während einer Browsersitzung gespeichert wird,
                    wird automatisch auf die Suche nach passenden Einträgen in der Wissensdatenbank gescannt.</p>

                <p>Identifizierte Zwecke der Übereinstimmung von Einträgen sind in der <i>Kategorie</i> -Zeile in
                    Tabellen von Cookie- und lokalen Speicherkarten sowie in der folgenden Registerkarte aus dem
                    Detailfenster bei der Auswahl einer Zeile in den Tabellen Knowledge verfügbar.</p>



                <p>Wenn der aktuelle Eintrag in mindestens einer Wissensdatenbank gefunden wurde, listet diese
                    Registerkarte alle passenden Einträge in der Wissensdatenbank entsprechend ihrer Kategorie auf.</p>
                <p>Wenn es sich um ein Cookie handelt, werden diese Einträge wie folgt kategorisiert:</p>
                <ul>
                    <li><i>Exakte Übereinstimmung</i>: mindestens ein Eintrag entspricht dem Namen und der Domain des
                        Cookies,</li>
                    <li><i>Name</i> des Spiels: mindestens ein Eintrag entspricht dem Namen des Cookies mit einer
                        Wildcard-Domain (<i>*</i>),</li>
                    <li><i>Match Domain</i>: mindestens ein Eintrag entspricht der Domain dieses Cookies.</li>
                </ul>
                <p>Wenn es sich um einen Schlüssel im lokalen Speicher handelt, entspricht mindestens ein Eintrag dem
                    Schlüssel oder dem Skript, das für diesen Eintrag verantwortlich ist.</p>
                <p>
                    Alle Datenbanken sind einem Vertrauensgrad (Validated/zuverlässig/informativ) und einer Farbe
                    zugeordnet, die dazu beiträgt, Fälle zu identifizieren, in denen die Bewertung der Zwecke zwischen
                    den Wissensdatenbanken unterschiedlich ist.
                </p>

                <p>Sie können auf <a href="#/helps/new_analysis">Bereitstellung neuer Analysen</a> für die Nutzung
                    dieser Informationen verweisen, um die Compliance/Nichteinhaltung von Websites gemäß den
                    gesetzlichen Anforderungen zu bewerten.</p>
            </div>
        </div>
    </div>
</div>