<div class="row" style="margin-top: 10px;">
    <div class="col-12 px-4 px-xl-5 order-0">
        <div id="block-pagetitle" class="block block-core block-page-title-block">
            <div class="content">
                <header class="article-title" style="margin-top: 10px;">
                    <h1 class="node__title mb-3 mt-0">Provide new analysis</h1>
                </header>
                <div class="view-header mb-4 w-100">
                    <p>An <i>analysis</i> gathers information that has been stored in a browser
                        when browsing websites through
                        a set of <i>scenarios</i>.</p>
                    <p>It can be initiated from the <button>
                            <span class="mat-list-item nav-item px-xl-3 text-uppercase is-active">New</span>
                        </button> section or
                        from the <button class="analysis-plus">+</button> button in the toolbar
                        of
                        the <button>
                            <span class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Browse</span>
                        </button> section.</p>

                    <p>Both of these icons reveal the following form : </p>
                    <table border="2">
                        <tr>
                            <td>
                                <div class="survey-element 5 freetextitem forprogress">
                                    <label class="questiontitle">
                                        Name of the website or responsible entity
                                    </label>
                                    <br>
                                    <input disabled />
                                </div>
                            </td>
                            <td>
                                This name is only informative and helps to reidentiying this
                                analysis from the list.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="survey-element 5 freetextitem forprogress">
                                    <label class="questiontitle">
                                        URL of the website
                                    </label>
                                    <br>
                                    <input disabled />
                                </div>
                            </td>
                            <td>
                                This is the starting point of the analysis. Note that an
                                analysis is not bound to one URL and other URLs can be
                                included whilst browsing.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="survey-element 5 freetextitem forprogress">
                                    <label class="questiontitle">
                                        Select a source for this scenario
                                    </label>
                                    <br>
                                    <input size="30" value="Internal Browser" disabled /><br>
                                    <input size="30" value="HTTP Archive format (HAR)" disabled /><br>
                                    <input size="30" value="Website Evidence Collector (WEC)" disabled />
                                </div>
                            </td>
                            <td>
                                These are the sources from which evidence of data collection can
                                be extracted for conducting its
                                legal assessment :
                                <ul>
                                    <li><i>Internal Browser</i>: Use the Chromium browser
                                        integrated to this tool and also accessible through
                                        <button>
                                            <span
                                                class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Browse</span>
                                        </button> section.
                                    </li>
                                    <li><i>HTTP Archive format (HAR)</i>: Use a JSON-formatted
                                        file format that stores communications generated by a
                                        browser when browsing websites. This file can be
                                        generated through the inspector from all general public
                                        browsers. </li>
                                    <li><i>Website Evidence Collector (WEC)</i>: Use reports
                                        generated by the <a target="_blank"
                                            href="https://edps.europa.eu/edps-inspection-software_en">Website
                                            Evidence Collector (WEC)</a> developed by the
                                        European Data
                                        Protection Supervisor (EDPS) for conducting a legal
                                        assessment with this tool.</li>
                                </ul>

                                The <strong> use of the internal browser is the recommended way
                                    to conduct an analysis </strong> since it can produce an
                                in-depth analysis of trackers on a website, including tracking
                                functions or requests that actually store information in the
                                browser.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="questiontitle">
                                    Set a tag for this scenario
                                </label>
                                <input disabled />
                            </td>
                            <td>
                                Associate a name to the scenario you plan to assess on the
                                website (<i>e.g.</i> before consent, after consent, manage
                                options, etc.) for its later identification and assessment.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button value="Start" class="form-submit btn btn-primary" type="submit">Start</button>
                            </td>
                            <td>
                                Once all the information is correctly entered, the start button
                                appears to initiate the association of information to the given
                                scenario in the analysis.
                            </td>
                        </tr>
                    </table>

                    If the internal browse source is selected, a new session <button>
                        <span class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Analysis
                            > Scenario</span>
                    </button> appears in <strong style="color: rgba(0,0,0,.54);">Sessions</strong> on the left
                    navigation
                    bar. Until this session is closed, the newly created scenario is associated
                    with all the information collected through this session.
                </div>
            </div>
            <div class="content">
                <header class="article-title" style="margin-top: 10px;">
                    <h1 class="node__title mb-3 mt-0">The Internal Browser</h1>
                </header>
                <div class="view-header mb-4 w-100">
                    <p>The internal browser appears whenever you associate a new scenario
                        to an analysis, or when clicking on the <button>
                            <span class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Browse</span>
                        </button> or on an existing session in the left navigation bar. It is based on a Chrome Version
                        indicated in the card Browser information.</p>

                    <p> The browser interface is composed of the following three main components
                        : </p>
                    <ul>
                        <li> the <i>toolbar</i> on the upper part of the browser interface
                            allows for managing both scenarios, browser and data collected
                            through
                            the browser, </li>
                        <li> the information displayed <i>(render)</i> on the left side of the
                            browser show the
                            visible part of the website as individuals see it, </li>
                        <li> the <i>logger</i> on the right side of the browser shows the hidden
                            part of the website <i>i.e.</i> all communication and storage
                            performed
                            by
                            the given website with this browser. </li>
                    </ul>

                    The internal browser can be associated (or not) to a session. If associated,
                    all data collected is automatically stored in the tool and can be assessed
                    on-the-fly through the analysis interface.
                </div>
                <header class="article-title" style="margin-top: 10px;">
                    <h2 class="node__title mb-3 mt-0">The toolbar</h2>
                </header>
                <div class="view-header mb-4 w-100">
                    <p>The toolbar helps to manage both browsing, sessions and information
                        collected by the browser : </p>
                    <table border="2">
                        <tr>
                            <td>
                                <div style="display: inline-block;">
                                    <button>
                                        <i class="fa fa-arrow-left"></i>
                                    </button>
                                    <button>
                                        <i class="fa fa-arrow-right"></i>
                                    </button>
                                    <button>
                                        <i class="fa fa-refresh"></i>
                                    </button>
                                </div>
                            </td>
                            <td>
                                Navigation buttons that allow respectively to
                                navigate backward and forward in the browsing history or
                                reloading the current page.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="header-search">
                                    <button>
                                        <i class="fa fa-play"></i>
                                    </button>
                                    <button>
                                        <i class="fa fa-pause"></i>
                                    </button>
                                </div>
                            </td>
                            <td>
                                Pause or resume information displayed in real time through the
                                logger panel. If paused, information is still collected by this
                                tool but is no longer refreshed until resuming.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="header-search">
                                    <input disabled placeholder="Search or type in a URL">
                                </div>
                            </td>
                            <td>
                                If not selected, this input shows the current Uniform Resource
                                Locator (URL) of the webpage displayed in the render panel. If
                                selected, this input allows fetching a new URL to be displayed.
                                The http:// protocol is automatically added to malformed URLs.
                                Unreachable URLs are dismissed.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="header-search">
                                    <div class="analysis-name" style="font-size:14px">
                                        <button>
                                            Analysis > Scenario
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                Session management buttons that respectively allow viewing
                                which scenario and analysis this session is currently associated
                                to (if
                                any).<br>
                                A click on the current running session will display the
                                assesment view on the associated scenario. As such, information
                                already collected in the logger can be tagged as compliant/not
                                compliant whilst keeping the current running session alive and
                                accessible through <strong style="color: rgba(0,0,0,.54);">Sessions</strong> on the
                                left side navigation bar.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="header-search" style="float: right;">

                                    <div style="width:100px"></div>
                                    <button>
                                        <i class="fa fa-camera"></i>
                                    </button>
                                    <button>
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    <button>
                                        <i class="fa fa-stop"></i>
                                    </button>
                                </div>
                            </td>
                            <td>
                                Data collection management buttons that respectively allow
                                taking a snapshot of website displayed in the browser, to erase
                                all information from
                                both the renderer and the logger, and to stop and save data
                                collected for the current scenario.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>

                                    <div style="float: right;">
                                        <button>
                                            <i class="fa fa-bug"></i>
                                        </button>
                                        <button>
                                            <i class="fa fa-search-minus"></i>
                                        </button>
                                        <button>
                                            <i>110%</i>
                                        </button>
                                        <button>
                                            <i class="fa fa-search-plus"></i>
                                        </button>
                                    </div>
                                </div>

                            </td>
                            <td>
                                Browser management buttons that respectively open developer tools on the current
                                content, to reduce or increase the content’s text size.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>

                                    <div style="float: right;">
                                        <button>
                                            <i class="fa fa-chevron-left"></i>
                                        </button>
                                        <button>
                                            <i class="fa fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>

                            </td>
                            <td>
                                Hide/show the logger panel.
                            </td>
                        </tr>
                    </table>
                    <header class="article-title" style="margin-top: 10px;">
                        <h2 class="node__title mb-3 mt-0">The logger panel</h2>
                    </header>

                    <p>The logger panel displays in real time all communication and information
                        storage that occurs in the browser during the navigation.</p>
                    <p>This information is categorized into a set of expandable cards that
                        contains a list of information related to the given analysis.</p>
                    <p>The header of these tables in each card is clickable in order to sort
                        identical
                        information for a given category. On some analyses, lines of the table
                        can be individually selected to get more details on the selected
                        information.
                    </p>

                    <header class="article-title" style="margin-top: 10px;">
                        <h2 class="node__title mb-3 mt-0">Analysis Cards</h2>
                    </header>
                    <p> Each card is a representation of an analysis that has been performed on
                        the
                        current website. Headers of these cards contain the identification
                        of the analysis performed, a question mark that gives more information
                        on this analysis, and an arrow to expand or collapse the contained
                        information.
                        Question marks can be hidden through the setting section of the left
                        navigation bar.</p>

                    <p> The following table gives information of each analysis performed : </p>
                    <table border="2">
                        <tr>
                            <td>
                                Screenshot
                            </td>
                            <td>
                                List all screenshots that have been recorded from the renderer
                                since the
                                beginning of the session. The title of each screenshot can be
                                modified through the edit button to help its later
                                identification.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Cookies

                            </td>
                            <td>
                                List all the cookies that have been stored since the beginning
                                of
                                the session. Each cookie is represented as a single line in the
                                table classified by domain, name and potential purpose from
                                knowledge bases (if any).
                                A click on a line displays detailed information about the
                                cookie.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Local Storage

                            </td>
                            <td>
                                List all pairs of key/value that have been stored in each
                                frame
                                contained in the displayed webpage.
                                Each key in the local storage is represented as a
                                single line in the table, associated with the url of the frame
                                that requested the storage, the key value, and the potential
                                purpose from knowledge bases (if any).
                                A click on a line displays detailed information about the local
                                storage access.
                            </td>
                        </tr>
                        <tr>
                            <td>

                                Use of HTTPS/SSL

                            </td>
                            <td>
                                Check whether the current webpage makes use of a secure
                                communication (SSL). It also checks if an unencrypted access
                                (HTTP) redirects to a secure access (HTTPS) and gives the
                                corresponding location.
                            </td>
                        </tr>
                        <tr>
                            <td>

                                Traffic Analysis

                            </td>
                            <td>
                                List all domains that have been requested by the renderer to
                                display the current
                                webpage.
                            </td>
                        </tr>
                        <tr>
                            <td>

                                Web Forms with non-encrypted Transmission

                            </td>
                            <td>
                                Check whether the rendered page contains a form where
                                data is transmitted through an unsecured communication (HTTP).
                                Each form is represented as a single line in the table,
                                associated with its identification in the source code and the
                                action performed when submitting.
                            </td>
                        </tr>
                        <tr>
                            <td>

                                Beacons

                            </td>
                            <td>
                                List all known tracking pixels (Web Beacons) contained in the
                                rendered page according to <a target="_blank"
                                    href="https://easylist.to/#easyprivacy">EasyPrivacy</a> and
                                <a target="_blank" href="https://easylist.to/#fanboy-s-annoyance-list">Fanboy's
                                    Annoyance</a> list.
                                This list is only informational, it may be incomplete or
                                includes false positives due to inaccurate or outdated
                                signatures.
                            </td>
                        </tr>
                        <tr>
                            <td>

                                TestSSL scan

                            </td>
                            <td>
                                If configured in the settings section, the command-line tool <a target="_blank"
                                    href="https://testssl.sh/">testssl.sh</a>
                                can be performed on the current URL by clicking on the play
                                button. This tool checks supports of TLS/SSL ciphers, protocols
                                as well as recent cryptographic flaws on the current URL server.
                                Note that this test takes several minutes to be performed.
                            </td>
                        </tr>
                        <tr>
                            <td>

                                Browser information

                            </td>
                            <td>
                                Display all information about the context of the analysis: the version of the tool and
                                the browser, the user agent and starting time of the data collection.
                            </td>
                        </tr>
                    </table>
                    <header class="article-title" style="margin-top: 10px;">
                        <h2 class="node__title mb-3 mt-0">The Details Panel</h2>
                    </header>
                    <p>Detailed information stored or transmitted during the current sessions
                        through
                        cookies, local storage and web beacons are
                        accessible through a window that appears at the bottom when a line is
                        selected
                        in tables. </p>
                    <p>This detailed information is divided in three categories :</p>
                    <table border="2">
                        <tr>
                            <td>
                                Details
                            </td>
                            <td>
                                List complete information about a given cookie, key in the local
                                storage or a web beacon.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Logs
                            </td>
                            <td>
                                Show the call stack tree or the request that results in the
                                deposit of the given cookie, the entry of the key in the local
                                storage or that initiates the request from the web beacon.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Knowledge
                            </td>
                            <td>
                                If the current entry has been found in at least one knowledge
                                base, this tab lists all matching entries in the knowledge base
                                according to its category.<br><br>
                                If it is a cookie, these entries are categorized as follows:
                                <ul>
                                    <li><i>Exact match</i> : at least one entry corresponds to
                                        the name and the domain of the cookie,</li>
                                    <li><i>Match name</i> : at least one entry corresponds to
                                        the name of the cookie with a wildcard domain
                                        (<i>*</i>),</li>
                                    <li><i>Match domain</i> : at least one entry corresponds to
                                        the domain of this cookie.</li>
                                </ul>
                                If it is a key in the local storage, at least one entry matches
                                the key or the script responsible for this entry.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button mat-raised-button class="btn btn-block btn-primary">Close details
                                </button>
                            </td>
                            <td>
                                Click on this button to
                                close the current detail window.
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="content">
                <header class="article-title" style="margin-top: 10px;">
                    <h1 class="node__title mb-3 mt-0">Making a decision of compliance / non
                        compliance </h1>
                </header>
                <p>To assist in the assesment of website compliance, analysis,
                    scenarios and cards can be
                    marked as <span style="color:green">Compliant</span>, <span style="color:red">Not Compliant</span>,
                    or <span style="color:#004494">To Be Defined</span>.</p>
                <p>This assesment interface can be reached at any time, by clicking on the
                    toolbar button <span class="analysis-name" style="font-size:14px">
                        <button>
                            Analysis > Scenario
                        </button>
                    </span> through the internal browser during a session, or
                    after the collection of evidence through the <button>
                        List
                    </button> in the left sidebar navigation.</p>

                <p>
                    This list gives an overview of all analysis stored in the website auditing
                    tool and their current assesment.
                </p>
                <p>Each entry takes the following form :</p>
                <table border="2">
                    <tr>
                        <td>
                            <h2>
                                <a>
                                    analysis
                                </a>
                            </h2>
                            <mat-chip-listbox>
                                <mat-chip><a style="color: green;">Compliant</a></mat-chip>
                                <mat-chip> <a style="color: red;">Not compliant</a></mat-chip>
                                <mat-chip>
                                    <a style="color: #004494;">To be
                                        defined</a>
                                </mat-chip>
                            </mat-chip-listbox>
                        </td>
                        <td>
                            The entity associated with this analysis and its current assessment.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button>
                                <i class="fa fa-eye"></i>
                            </button>
                            <button>
                                <i class="fa fa-download"></i>
                            </button>
                            <button>
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                        <td>
                            Actions buttons on the current analysis in order to respectively
                            view and assess this entry, to generate a report of this analysis
                            and to delete the entry.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button>
                                <a style="color: green;">Scenario 1</a>
                            </button>
                            <button>
                                <a style="color: red;">Scenario 2</a>
                            </button>
                            <button>
                                <a style="color:#004494;">Scenario 3</a>
                            </button>
                        </td>
                        <td>
                            The scenarios that have been recorded for the given analysis. The
                            color corresponds to their respective current assesment if any
                            (<strong style="color: green;"> complaint</strong>, <strong style="color: red;"> not
                                complaint</strong> or <strong style="color: #004494;"> to be defined </strong>).
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-link"></i>
                            www.(...).com <br>
                            <i class="fa fa-calendar"></i>
                            10/01/2022
                        </td>
                        <td>
                            Other metadata associated with this analysis, which is the link that
                            has been indicated at the creation of the analysis and the date of
                            this creation.
                        </td>
                    </tr>
                </table>

                <p>The right panel allows filtering these analyses according to their
                    identification or their current assesment.</p>

                <header class="article-title" style="margin-top: 10px;">
                    <h2 class="node__title mb-3 mt-0">Evaluation</h2>
                </header>

                <p>Selecting the <button>
                        <i class="fa fa-eye"></i>
                    </button> button through an analysis, a scenario or a card allows
                    navigating in the given element and gets detailed information.</p>

                Each of these elements can be tagged to help conduct the global assesment of
                the website as follows :
                <table border="2">
                    <tr>
                        <td>
                            <button class="btn btn-green" aria-hidden="true">
                                Compliant
                            </button>
                            <button class="btn btn-red" aria-hidden="true">
                                Not compliant
                            </button>
                            <button class="btn-blue" aria-hidden="true">
                                To be defined
                            </button>
                        </td>
                        <td>
                            Mark an analysis as compliant, not compliant and to be evaluated
                            according to legal requirements.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button color="blue"> <i class="fa fa-close"></i>
                                Close edition</button>
                            <button color="blue"> <i class="fa fa-edit"></i>
                                Write a comment</button>
                        </td>
                        <td>
                            Open and close a text editor to write some comment about the given
                            evaluation.
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #ecedee;">

                            <div style="float: right">
                                <button>
                                    <i class="fa fa-check" style="color: green;"></i>
                                </button>
                                <button>
                                    <i class="fa fa-close" style="color: red;"></i>
                                </button>
                                <button>
                                    <i class="fa fa-search" style="color: #004494;"></i>
                                </button>
                            </div>
                        </td>
                        <td>
                            Single lines of these cards :
                            <ul>
                                <li> <strong style="color:rgba(0,0,0,.54);">Cookies</strong>
                                </li>,
                                <li><strong style="color:rgba(0,0,0,.54);">Local
                                        Storage</strong></li>,
                                <li><strong style="color:rgba(0,0,0,.54);">Web beacons</strong>
                                </li> and
                                <li><strong style="color:rgba(0,0,0,.54);">TestSSL</strong></li>
                            </ul>
                            can also be
                            marked as compliant, not compliant or to be defined in order to
                            assist evaluation.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i>Evaluation on Nov 25, 2022</i>
                        </td>
                        <td>
                            The date of the last evaluation.
                        </td>
                    </tr>
                </table>

                <p> The first card of the analysis or the scenario gives an overview of
                    each scenario or each card with their current evaluation. It
                    also allows a global evaluation for the current analysis or scenario
                    according to these elements.</p>

                <p> Each single line in the table of these cards (<strong
                        style="color:rgba(0,0,0,.54);">Cookies</strong>,
                    <strong style="color:rgba(0,0,0,.54);">Local Storage</strong> and <strong
                        style="color:rgba(0,0,0,.54);">Web beacons</strong>)
                    can be selected to get
                    more detailed information on the right panel <strong>More details </strong>.
                    On cookie and local storage lines, the knowledge tab gives easy access to
                    list matching entries from the corresponding knowledge base or to add this
                    entry in a knowledge base. Click on <a href="#/helps/knowledge_base">
                        Knowledge base</a> to get more information on its management.
                </p>

                <p>At any time, a new scenario can be attached to the analysis by clicking
                    <button class="add-button"> + </button> on the left
                    <strong>Scenario</strong> panel.
                </p>

                <p>Once the evaluation of the analysis, you can generate reports that include
                    collected data, evaluations and comments in a communicable
                    format. Click on <a href="#/helps/create_reports">Create reports </a> to get
                    guidances.</p>


                <header class="article-title" style="margin-top: 10px;">
                    <h2 class="node__title mb-3 mt-0">Selectors</h2>
                </header>
                <p>
                    The Cookies, Local Storage and Web beacons cards provide a set of selectors that select and mark a
                    set of common attributes amongst the card lines:
                    <button> <i class="material-icons">search</i> From values</button>,
                    <button><i class="material-icons">menu_book</i>From knowledges</button> and
                    <button><i class="material-icons">edit</i>Mark as</button>.
                </p>
                <p>
                    The selection can be based on a combination of the attributes of the line (e.g. domain and name of
                    the cookie), its current evaluation (Compliant, Not compliant, To be defined) or matches into
                    knowledge bases, including its categorization amongst all knowledge bases. The result is dynamically
                    updated in the content section. Finally, the “mark as” functionality allows to evaluate the
                    resulting selection.
                </p>
            </div>
        </div>
    </div>
</div>