<div class="row" style="margin-top: 10px;">
    <div class="col-12 px-4 px-xl-5 order-0">
        <div id="block-pagetitle" class="block block-core block-page-title-block">
            <div class="content">
                <header class="article-title" style="margin-top: 10px;">
                    <h1 class="node__title mb-3 mt-0">Παροχή νέας ανάλυσης</h1>
                </header>
                <div class="view-header mb-4 w-100">
                    <p>Η <i>ανάλυση</i> συγκεντρώνει πληροφορίες που έχουν αποθηκευτεί σε πρόγραμμα περιήγησης κατά την
                        περιήγηση σε ιστότοπους μέσω ενός συνόλου <i>σεναρίων</i>.</p>
                    <p>Μπορεί να ξεκινήσει από την ενότητα <button> <span
                                class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Νέα</span> </button> ή
                        από το κουμπί <button class="analysis-plus">+</button> στη γραμμή εργαλείων της ενότητας
                        <button> <span class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Αναζήτηση.</span>
                        </button></p>

                    <p>Και τα δύο εικονίδια αποκαλύπτουν την ακόλουθη μορφή:</p>
                    <table border="2">
                        <tr>
                            <td>
                                <div class="survey-element 5 freetextitem forprogress"><label
                                        class="questiontitle">Ονομασία του δικτυακού τόπου ή του υπεύθυνου φορέα
                                    </label> <br> <input disabled /></div>
                            </td>
                            <td>Αυτό το όνομα είναι μόνο ενημερωτικό και βοηθά στην επαναταυτοποίηση αυτής της ανάλυσης
                                από τον κατάλογο.</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="survey-element 5 freetextitem forprogress"><label
                                        class="questiontitle">Διεύθυνση URL της ιστοσελίδας </label> <br> <input
                                        disabled /></div>
                            </td>
                            <td>Αυτό είναι το σημείο εκκίνησης της ανάλυσης. Σημειώστε ότι μια ανάλυση δεν συνδέεται με
                                μία διεύθυνση URL και άλλες διευθύνσεις URL μπορούν να συμπεριληφθούν κατά την
                                περιήγηση.</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="survey-element 5 freetextitem forprogress"><label
                                        class="questiontitle">Επιλογή πηγής για αυτό το σενάριο </label> <br> <input
                                        size="30" value="Internal Browser" disabled /><br> <input size="30"
                                        value="HTTP Archive format (HAR)" disabled /><br> <input size="30"
                                        value="Website Evidence Collector (WEC)" disabled /></div>
                            </td>
                            <td>Αυτές είναι οι πηγές από τις οποίες μπορούν να εξαχθούν αποδεικτικά στοιχεία για τη
                                συλλογή δεδομένων για τη διενέργεια της νομικής αξιολόγησής της:<ul>
                                    <li><i>Εσωτερικός φυλλομετρητής:</i> Χρησιμοποιήστε το πρόγραμμα περιήγησης Chromium
                                        ενσωματωμένο σε αυτό το εργαλείο και επίσης προσβάσιμο μέσω της ενότητας
                                        <button> <span
                                                class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Αναζήτηση.</span>
                                        </button></li>
                                    <li><i>Μορφότυπος αρχείου HTTP (HAR):</i> Χρησιμοποιήστε μια μορφή αρχείου με μορφή
                                        JSON που αποθηκεύει τις επικοινωνίες που παράγονται από ένα πρόγραμμα περιήγησης
                                        κατά την περιήγηση σε ιστότοπους. Αυτό το αρχείο μπορεί να δημιουργηθεί μέσω του
                                        επιθεωρητή από όλους τους φυλλομετρητές του ευρύτερου κοινού.</li>
                                    <li><i>Δικτυακός τόπος συλλογής αποδεικτικών στοιχείων (WEC):</i> Χρησιμοποιήστε τις
                                        εκθέσεις που εκπονήθηκαν από τον <a target="_blank"
                                            href="https://edps.europa.eu/edps-inspection-software_en">δικτυακό τόπο
                                            συλλογής αποδεικτικών στοιχείων (WEC)</a> που αναπτύχθηκε από τον Ευρωπαίο
                                        Επόπτη Προστασίας Δεδομένων (ΕΕΠΔ) για τη διενέργεια νομικής αξιολόγησης με αυτό
                                        το εργαλείο.</li>
                                </ul>Η <strong> χρήση του εσωτερικού προγράμματος περιήγησης είναι ο συνιστώμενος τρόπος
                                    διεξαγωγής μιας ανάλυσης, </strong> καθώς μπορεί να παράγει μια εις βάθος ανάλυση
                                των ιχνηλατών σε έναν ιστότοπο, συμπεριλαμβανομένων των λειτουργιών παρακολούθησης ή των
                                αιτημάτων που αποθηκεύουν πραγματικά πληροφορίες στο πρόγραμμα περιήγησης.</td>
                        </tr>
                        <tr>
                            <td><label class="questiontitle">Ορισμός ετικέτας για αυτό το σενάριο </label> <input
                                    disabled /></td>
                            <td>Συσχετίστε ένα όνομα με το σενάριο που σκοπεύετε να αξιολογήσετε στον ιστότοπο
                                (π.χ.<i></i> πριν από τη συγκατάθεση, μετά τη συγκατάθεση, τη διαχείριση επιλογών κ.λπ.)
                                για τον μεταγενέστερο εντοπισμό και την αξιολόγησή του.</td>
                        </tr>
                        <tr>
                            <td><button value="Start" class="form-submit btn btn-primary" type="submit">Έναρξη</button>
                            </td>
                            <td>Μόλις όλες οι πληροφορίες εισαχθούν σωστά, το κουμπί έναρξης εμφανίζεται για να
                                ξεκινήσει η σύνδεση των πληροφοριών με το δεδομένο σενάριο στην ανάλυση.</td>
                        </tr>
                    </table>Εάν είναι επιλεγμένη η εσωτερική προέλευση αναζήτησης, εμφανίζεται μια νέα περίοδος
                    λειτουργίας <button> <span class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Ανάλυση >
                            Σενάριο</span> </button> στις <strong style="color: rgba(0,0,0,.54);">περιόδους λειτουργίας
                        στην</strong> αριστερή γραμμή πλοήγησης. Μέχρι να ολοκληρωθεί αυτή η συνεδρία, το νέο σενάριο
                    συσχετίζεται με όλες τις πληροφορίες που συλλέγονται μέσω αυτής της συνεδρίας.
                </div>
            </div>
            <div class="content">
                <header class="article-title" style="margin-top: 10px;">
                    <h1 class="node__title mb-3 mt-0">Ο εσωτερικός περιηγητής</h1>
                </header>
                <div class="view-header mb-4 w-100">
                    <p>Το εσωτερικό πρόγραμμα περιήγησης του εργαλείου ελέγχου ιστοτόπων του ΕΣΠΔ χρησιμοποιεί την
                        έκδοση 106.0.5249.103 του Chrome. Εμφανίζεται κάθε φορά που συσχετίζετε ένα νέο σενάριο με μια
                        ανάλυση ή όταν κάνετε κλικ στην <button> <span
                                class="mat-list-item nav-item px-xl-3 text-uppercase is-active">Αναζήτηση</span>
                        </button> ή σε μια υπάρχουσα περίοδο λειτουργίας στην αριστερή γραμμή πλοήγησης.</p>

                    <p>Η διεπαφή του προγράμματος περιήγησης αποτελείται από τα ακόλουθα τρία κύρια στοιχεία:</p>
                    <ul>
                        <li>η <i>γραμμή εργαλείων</i> στο άνω μέρος της διεπαφής του προγράμματος περιήγησης επιτρέπει
                            τη διαχείριση και των δύο σεναρίων, του προγράμματος περιήγησης και των δεδομένων που
                            συλλέγονται μέσω του προγράμματος περιήγησης,</li>
                        <li>οι πληροφορίες που εμφανίζονται <i>(παρατίθενται)</i> στην αριστερή πλευρά του προγράμματος
                            περιήγησης δείχνουν το ορατό τμήμα του ιστότοπου όπως το βλέπουν τα άτομα,</li>
                        <li>ο <i>καταγραφέας</i> στη δεξιά πλευρά του προγράμματος περιήγησης εμφανίζει το κρυφό τμήμα
                            του ιστότοπου, <i>δηλαδή όλη</i> την επικοινωνία και αποθήκευση που πραγματοποιείται από τον
                            συγκεκριμένο ιστότοπο με αυτόν τον φυλλομετρητή.</li>
                    </ul>Το εσωτερικό πρόγραμμα περιήγησης μπορεί να συσχετιστεί (ή όχι) με μια συνεδρία. Εάν
                    συσχετιστεί, όλα τα δεδομένα που συλλέγονται αποθηκεύονται αυτόματα στο εργαλείο και μπορούν να
                    αξιολογηθούν εν πτήσει μέσω της διεπαφής ανάλυσης.
                </div>
                <header class="article-title" style="margin-top: 10px;">
                    <h2 class="node__title mb-3 mt-0">Η γραμμή εργαλείων</h2>
                </header>
                <div class="view-header mb-4 w-100">
                    <p>Η γραμμή εργαλείων βοηθά στη διαχείριση τόσο της περιήγησης όσο και των συνεδριών και των
                        πληροφοριών που συλλέγονται από τον φυλλομετρητή:</p>
                    <table border="2">
                        <tr>
                            <td>
                                <div style="display: inline-block;"><button> <i class="fa fa-arrow-left"></i> </button>
                                    <button> <i class="fa fa-arrow-right"></i> </button> <button> <i
                                            class="fa fa-refresh"></i> </button></div>
                            </td>
                            <td>Πλήκτρα πλοήγησης που επιτρέπουν αντίστοιχα την πλοήγηση προς τα πίσω και προς τα εμπρός
                                στο ιστορικό περιήγησης ή την επαναφόρτωση της τρέχουσας σελίδας.</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="header-search"><button> <i class="fa fa-play"></i> </button> <button> <i
                                            class="fa fa-pause"></i> </button></div>
                            </td>
                            <td>Παύση ή συνέχιση των πληροφοριών που εμφανίζονται σε πραγματικό χρόνο μέσω του πίνακα
                                καταγραφής. Σε περίπτωση παύσης, οι πληροφορίες εξακολουθούν να συλλέγονται από αυτό το
                                εργαλείο, αλλά δεν ανανεώνονται πλέον μέχρι να ξαναρχίσουν.</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="header-search"><input disabled
                                        placeholder="Αναζήτηση ή πληκτρολογήστε μια διεύθυνση URL"></div>
                            </td>
                            <td>Εάν δεν επιλεγεί, αυτή η είσοδος εμφανίζει τον τρέχοντα ομοιόμορφο εντοπιστή πόρων (URL)
                                της ιστοσελίδας που εμφανίζεται στον πίνακα απόδοσης. Εάν επιλεγεί, αυτή η είσοδος
                                επιτρέπει την εμφάνιση μιας νέας διεύθυνσης URL. Το πρωτόκολλο http:// προστίθεται
                                αυτόματα σε δυσμορφίες διευθύνσεων URL. Οι μη προσβάσιμες διευθύνσεις URL απορρίπτονται.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="header-search">
                                    <div class="analysis-name" style="font-size:14px"><button>Ανάλυση > Σενάριο</button>
                                    </div>
                                </div>
                            </td>
                            <td>Κουμπιά διαχείρισης περιόδου λειτουργίας που επιτρέπουν αντίστοιχα την προβολή του
                                σεναρίου και της ανάλυσης με τα οποία συνδέεται αυτή η περίοδος λειτουργίας (εάν
                                υπάρχει).<br> Ένα κλικ στην τρέχουσα περίοδο λειτουργίας θα εμφανίσει την προβολή
                                αξιολόγησης στο σχετικό σενάριο. Ως εκ τούτου, οι πληροφορίες που έχουν ήδη συλλεχθεί
                                στον καταγραφέα μπορούν να επισημανθούν ως συμμορφούμενες/μη συμμορφούμενες, διατηρώντας
                                παράλληλα ζωντανή και προσβάσιμη την τρέχουσα περίοδο λειτουργίας μέσω των <strong
                                    style="color: rgba(0,0,0,.54);">περιόδων λειτουργίας στην</strong> αριστερή πλευρά
                                της γραμμής πλοήγησης.</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="header-search" style="float: right;">

                                    <div style="width:100px"></div><button> <i class="fa fa-camera"></i> </button>
                                    <button> <i class="fa fa-trash"></i> </button> <button> <i class="fa fa-stop"></i>
                                    </button>
                                </div>
                            </td>
                            <td>Κουμπιά διαχείρισης συλλογής δεδομένων που επιτρέπουν αντίστοιχα τη λήψη ενός
                                στιγμιότυπου του ιστότοπου που εμφανίζεται στο πρόγραμμα περιήγησης, τη διαγραφή όλων
                                των πληροφοριών τόσο από τον renderer όσο και από τον καταγραφέα και τη διακοπή και
                                αποθήκευση των δεδομένων που συλλέγονται για το τρέχον σενάριο.</td>
                        </tr>
                        <tr>
                            <td>
                                <div>

                                    <div style="float: right;"><button> <i class="fa fa-chevron-left"></i> </button>
                                        <button> <i class="fa fa-chevron-right"></i> </button></div>
                                </div>

                            </td>
                            <td>Απόκρυψη/εμφάνιση του πίνακα καταγραφής.</td>
                        </tr>
                    </table>
                    <header class="article-title" style="margin-top: 10px;">
                        <h2 class="node__title mb-3 mt-0">Το πάνελ του υλοτόμου</h2>
                    </header>

                    <p>Ο πίνακας καταγραφής εμφανίζει σε πραγματικό χρόνο όλη την επικοινωνία και την αποθήκευση
                        πληροφοριών που συμβαίνει στο πρόγραμμα περιήγησης κατά τη διάρκεια της πλοήγησης.</p>
                    <p>Αυτές οι πληροφορίες κατηγοριοποιούνται σε ένα σύνολο επεκτάσιμων καρτών που περιέχει μια λίστα
                        πληροφοριών που σχετίζονται με τη δεδομένη ανάλυση.</p>
                    <p>Η κεφαλίδα αυτών των πινάκων σε κάθε κάρτα είναι δυνατή η επιλογή για την ταξινόμηση
                        πανομοιότυπων πληροφοριών για μια δεδομένη κατηγορία. Σε ορισμένες αναλύσεις, οι γραμμές του
                        πίνακα μπορούν να επιλεγούν μεμονωμένα για να ληφθούν περισσότερες λεπτομέρειες σχετικά με τις
                        επιλεγμένες πληροφορίες.</p>

                    <header class="article-title" style="margin-top: 10px;">
                        <h2 class="node__title mb-3 mt-0">Κάρτες ανάλυσης</h2>
                    </header>
                    <p>Κάθε κάρτα είναι μια αναπαράσταση μιας ανάλυσης που έχει πραγματοποιηθεί στην τρέχουσα
                        ιστοσελίδα. Οι κεφαλίδες αυτών των καρτών περιέχουν τον προσδιορισμό της ανάλυσης που
                        πραγματοποιήθηκε, ένα ερωτηματικό που δίνει περισσότερες πληροφορίες σχετικά με αυτήν την
                        ανάλυση και ένα βέλος για την επέκταση ή την κατάρρευση των περιεχόμενων πληροφοριών. Τα
                        ερωτηματικά μπορούν να κρυφτούν μέσα από το τμήμα ρύθμισης της αριστερής γραμμής πλοήγησης.</p>

                    <p>Ο ακόλουθος πίνακας παρέχει πληροφορίες για κάθε ανάλυση που πραγματοποιήθηκε:</p>
                    <table border="2">
                        <tr>
                            <td>Στιγμιότυπο οθόνης</td>
                            <td>Καταγράψτε όλα τα στιγμιότυπα οθόνης που έχουν καταγραφεί από τον renderer από την αρχή
                                της συνεδρίας. Ο τίτλος κάθε στιγμιότυπου οθόνης μπορεί να τροποποιηθεί μέσω του
                                κουμπιού επεξεργασίας για να βοηθήσει στην μετέπειτα αναγνώρισή του.</td>
                        </tr>
                        <tr>
                            <td>Cookies</td>
                            <td>Καταγράψτε όλα τα cookies που έχουν αποθηκευτεί από την αρχή της συνεδρίας. Κάθε cookie
                                αντιπροσωπεύεται ως μία γραμμή στον πίνακα που ταξινομείται ανά τομέα, όνομα και πιθανό
                                σκοπό από βάσεις γνώσεων (εάν υπάρχουν). Ένα κλικ σε μια γραμμή εμφανίζει λεπτομερείς
                                πληροφορίες σχετικά με το cookie.</td>
                        </tr>
                        <tr>
                            <td>Τοπική αποθήκευση</td>
                            <td>Απαριθμήστε όλα τα ζεύγη κλειδιών/τιμής που έχουν αποθηκευτεί σε κάθε πλαίσιο που
                                περιέχεται στην εμφανιζόμενη ιστοσελίδα. Κάθε κλειδί στην τοπική αποθήκευση
                                αντιπροσωπεύεται ως μία γραμμή στον πίνακα, που σχετίζεται με τη διεύθυνση URL του
                                πλαισίου που ζήτησε την αποθήκευση, την τιμή κλειδιού και τον πιθανό σκοπό από βάσεις
                                γνώσεων (εάν υπάρχουν). Ένα κλικ σε μια γραμμή εμφανίζει λεπτομερείς πληροφορίες σχετικά
                                με την τοπική πρόσβαση αποθήκευσης.</td>
                        </tr>
                        <tr>
                            <td>Χρήση HTTPS/SSL</td>
                            <td>Ελέγξτε αν η τρέχουσα ιστοσελίδα κάνει χρήση ασφαλούς επικοινωνίας (SSL). Ελέγχει επίσης
                                εάν μια μη κρυπτογραφημένη πρόσβαση (HTTP) ανακατευθύνει σε ασφαλή πρόσβαση (HTTPS) και
                                δίνει την αντίστοιχη θέση.</td>
                        </tr>
                        <tr>
                            <td>Ανάλυση κυκλοφορίας</td>
                            <td>Απαριθμήστε όλους τους τομείς που έχουν ζητηθεί από τον renderer για την εμφάνιση της
                                τρέχουσας ιστοσελίδας.</td>
                        </tr>
                        <tr>
                            <td>Φόρμες Ιστού με μη κρυπτογραφημένη μετάδοση</td>
                            <td>Ελέγξτε αν η σελίδα που αποδίδεται περιέχει μια φόρμα όπου τα δεδομένα μεταδίδονται μέσω
                                μιας μη ασφαλούς επικοινωνίας (HTTP). Κάθε φόρμα αναπαρίσταται ως μία γραμμή στον
                                πίνακα, που σχετίζεται με την αναγνώρισή της στον πηγαίο κώδικα και την ενέργεια που
                                πραγματοποιήθηκε κατά την υποβολή.</td>
                        </tr>
                        <tr>
                            <td>Φάροι</td>
                            <td>Καταγράψτε όλα τα γνωστά εικονοστοιχεία παρακολούθησης (Web Beacons) που περιέχονται στη
                                σελίδα που αποδίδεται σύμφωνα με τη λίστα <a target="_blank"
                                    href="https://easylist.to/#easyprivacy">EasyPrivacy</a> και <a target="_blank"
                                    href="https://easylist.to/#fanboy-s-annoyance-list">Fanboy&#39;s Annoyance.</a>
                                Αυτός ο κατάλογος είναι μόνο ενημερωτικός, μπορεί να είναι ελλιπής ή να περιλαμβάνει
                                ψευδώς θετικά αποτελέσματα λόγω ανακριβών ή παρωχημένων υπογραφών.</td>
                        </tr>
                        <tr>
                            <td>Σάρωση TestSSL</td>
                            <td>Εάν ρυθμιστεί στην ενότητα ρυθμίσεων, το εργαλείο γραμμής εντολών testsl.sh <a
                                    target="_blank" href="https://testssl.sh/"></a> μπορεί να εκτελεστεί στην τρέχουσα
                                διεύθυνση URL κάνοντας κλικ στο κουμπί αναπαραγωγής. Αυτό το εργαλείο ελέγχει τις
                                υποστηρίξεις των κρυπτογραφημένων TLS/SSL, των πρωτοκόλλων καθώς επίσης και των
                                πρόσφατων κρυπτογραφικών ελαττωμάτων στον τρέχοντα κεντρικό υπολογιστή διευθύνσεων URL.
                                Σημειώστε ότι αυτή η δοκιμή διαρκεί αρκετά λεπτά για να εκτελεστεί.</td>
                        </tr>
                    </table>
                    <header class="article-title" style="margin-top: 10px;">
                        <h2 class="node__title mb-3 mt-0">Ο πίνακας λεπτομερειών</h2>
                    </header>
                    <p>Λεπτομερείς πληροφορίες που αποθηκεύονται ή μεταδίδονται κατά τη διάρκεια των τρεχουσών περιόδων
                        σύνδεσης μέσω cookies, τοπικής αποθήκευσης και web beacons είναι προσβάσιμες μέσω ενός παραθύρου
                        που εμφανίζεται στο κάτω μέρος όταν επιλέγεται μια γραμμή σε πίνακες.</p>
                    <p>Αυτές οι λεπτομερείς πληροφορίες χωρίζονται σε τρεις κατηγορίες:</p>
                    <table border="2">
                        <tr>
                            <td>Λεπτομερή στοιχεία</td>
                            <td>Παραθέστε πλήρεις πληροφορίες σχετικά με ένα δεδομένο cookie, κλειδί στην τοπική
                                αποθήκευση ή έναν διαδικτυακό φάρο.</td>
                        </tr>
                        <tr>
                            <td>Ημερολόγια</td>
                            <td>Εμφάνιση του δέντρου στοίβας κλήσεων ή του αιτήματος που έχει ως αποτέλεσμα την κατάθεση
                                του συγκεκριμένου cookie, την εισαγωγή του κλειδιού στον τοπικό χώρο αποθήκευσης ή την
                                εκκίνηση του αιτήματος από τον διαδικτυακό φάρο.</td>
                        </tr>
                        <tr>
                            <td>Γνώση</td>
                            <td>Εάν η τρέχουσα καταχώριση έχει βρεθεί σε τουλάχιστον μία βάση γνώσεων, αυτή η καρτέλα
                                απαριθμεί όλες τις αντίστοιχες καταχωρίσεις στη βάση γνώσεων ανάλογα με την κατηγορία
                                της.<br> <br>Εάν πρόκειται για cookie, αυτές οι καταχωρήσεις κατηγοριοποιούνται ως εξής:
                                <ul>
                                    <li><i>Ακριβής αντιστοιχία</i>: τουλάχιστον μία καταχώριση αντιστοιχεί στο όνομα και
                                        τον τομέα του cookie,</li>
                                    <li><i>Ονομασία αγώνα :</i> τουλάχιστον μία καταχώριση αντιστοιχεί στο όνομα του
                                        cookie με τομέα μπαλαντέρ (<i>*</i>),</li>
                                    <li><i>Τομέας αντιστοίχισης:</i> τουλάχιστον μία καταχώρηση αντιστοιχεί στον τομέα
                                        αυτού του cookie.</li>
                                </ul>Εάν είναι ένα κλειδί στην τοπική αποθήκευση, τουλάχιστον μία καταχώρηση ταιριάζει
                                με το κλειδί ή το σενάριο που είναι υπεύθυνο για αυτήν την καταχώρηση.</td>
                        </tr>
                        <tr>
                            <td><button mat-raised-button class="btn btn-block btn-primary">Στενές λεπτομέρειες</button>
                            </td>
                            <td>Κάντε κλικ σε αυτό το κουμπί για να κλείσετε το τρέχον παράθυρο λεπτομερειών.</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="content">
                <header class="article-title" style="margin-top: 10px;">
                    <h1 class="node__title mb-3 mt-0">Λήψη απόφασης συμμόρφωσης / μη συμμόρφωσης</h1>
                </header>
                <p>Προκειμένου να διευκολυνθεί η αξιολόγηση της συμμόρφωσης του δικτυακού τόπου, η ανάλυση, τα σενάρια
                    και οι κάρτες μπορούν να επισημαίνονται ως <span style="color:green">συμμορφούμενα ,</span> <span
                        style="color:red">μη συμμορφούμενα ,</span> ή <span style="color:#004494">προς καθορισμό
                        .</span></p>
                <p>Αυτή η διεπαφή αξιολόγησης μπορεί να επιτευχθεί ανά πάσα στιγμή, κάνοντας κλικ στο κουμπί της γραμμής
                    εργαλείων <span class="analysis-name" style="font-size:14px"> <button> Ανάλυση > Σενάριο </button>
                    </span> μέσω του εσωτερικού προγράμματος περιήγησης κατά τη διάρκεια μιας συνεδρίας ή μετά τη
                    συλλογή αποδεικτικών στοιχείων μέσω του <button> καταλόγου </button> στην αριστερή πλαϊνή γραμμή
                    πλοήγησης.</p>

                <p>Αυτός ο κατάλογος παρέχει μια επισκόπηση όλων των αναλύσεων που είναι αποθηκευμένες στο εργαλείο
                    ελέγχου ιστοτόπων και της τρέχουσας αξιολόγησής τους.</p>
                <p>Κάθε εγγραφή έχει την ακόλουθη μορφή:</p>
                <table border="2">
                    <tr>
                        <td>
                            <h2><a>ανάλυση</a></h2>
                            <mat-chip-listbox>
                                <mat-chip><a style="color: green;">Υποχωρητικό</a></mat-chip>
                                <mat-chip><a style="color: red;">Μη συμμόρφωση</a></mat-chip>
                                <mat-chip><a style="color: #004494;">Θα καθοριστεί</a></mat-chip>
                            </mat-chip-listbox>
                        </td>
                        <td>Η οντότητα που συνδέεται με την παρούσα ανάλυση και την τρέχουσα αξιολόγησή της.</td>
                    </tr>
                    <tr>
                        <td><button> <i class="fa fa-eye"></i> </button> <button> <i class="fa fa-download"></i>
                            </button> <button> <i class="fa fa-trash"></i> </button></td>
                        <td>Ενέργειες κουμπιά σχετικά με την τρέχουσα ανάλυση για να δείτε και να αξιολογήσετε
                            αντίστοιχα αυτή την καταχώριση, να δημιουργήσετε μια έκθεση αυτής της ανάλυσης και να
                            διαγράψετε την καταχώριση.</td>
                    </tr>
                    <tr>
                        <td><button><a style="color: green;">Σενάριο 1</a> </button> <button> <a
                                    style="color: red;">Σενάριο 2</a> </button> <button> <a
                                    style="color:#004494;">Σενάριο 3</a> </button></td>
                        <td>Τα σενάρια που έχουν καταγραφεί για τη συγκεκριμένη ανάλυση. Το χρώμα αντιστοιχεί στην
                            αντίστοιχη τρέχουσα αξιολόγησή τους, εάν υπάρχει (καταγγελία<strong
                                style="color: green;"></strong>, <strong style="color: red;"> όχι καταγγελία</strong> ή
                            <strong style="color: #004494;"> να οριστεί</strong>).</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-link"></i> www.(...).com <br> <i class="fa fa-calendar"></i> 10/01/2022</td>
                        <td>Άλλα μεταδεδομένα που σχετίζονται με αυτή την ανάλυση, η οποία είναι ο σύνδεσμος που έχει
                            υποδειχθεί κατά τη δημιουργία της ανάλυσης και την ημερομηνία αυτής της δημιουργίας.</td>
                    </tr>
                </table>

                <p>Ο δεξιός πίνακας επιτρέπει το φιλτράρισμα αυτών των αναλύσεων ανάλογα με την αναγνώρισή τους ή την
                    τρέχουσα αξιολόγησή τους.</p>

                <header class="article-title" style="margin-top: 10px;">
                    <h2 class="node__title mb-3 mt-0">Αξιολόγηση</h2>
                </header>

                <p>Η επιλογή του <button> <i class="fa fa-eye"></i> </button> κουμπιού μέσω ανάλυσης, σεναρίου ή κάρτας
                    επιτρέπει την πλοήγηση στο δεδομένο στοιχείο και λαμβάνει λεπτομερείς πληροφορίες.</p>Κάθε ένα από
                αυτά τα στοιχεία μπορεί να επισημανθεί για να βοηθήσει στη διεξαγωγή της συνολικής αξιολόγησης του
                ιστότοπου ως εξής:<table border="2">
                    <tr>
                        <td><button class="btn btn-green" aria-hidden="true">Συμμορφούμενο Μη </button> <button
                                class="btn btn-red" aria-hidden="true"> συμμορφούμενο </button> <button class="btn-blue"
                                aria-hidden="true"> Προς καθορισμό </button></td>
                        <td>Επισήμανση μιας ανάλυσης ως συμμορφούμενης, μη συμμορφούμενης και προς αξιολόγηση σύμφωνα με
                            τις νομικές απαιτήσεις.</td>
                    </tr>
                    <tr>
                        <td><button color="blue"><i class="fa fa-close"></i> Κλείσιμο έκδοσης</button> <button
                                color="blue"> <i class="fa fa-edit"></i> Γράψτε ένα σχόλιο</button></td>
                        <td>Ανοίξτε και κλείστε έναν επεξεργαστή κειμένου για να γράψετε κάποιο σχόλιο σχετικά με τη
                            δεδομένη αξιολόγηση.</td>
                    </tr>
                    <tr>
                        <td style="background-color: #ecedee;">
                            <div style="float: right"><button> <i class="fa fa-check" style="color: green;"></i>
                                </button> <button> <i class="fa fa-close" style="color: red;"></i> </button> <button> <i
                                        class="fa fa-search" style="color: #004494;"></i> </button></div>
                        </td>
                        <td>Ενιαίες γραμμές αυτών των καρτών :<ul>
                                <li><strong style="color:rgba(0,0,0,.54);">Cookies</strong></li>,<li><strong
                                        style="color:rgba(0,0,0,.54);">Τοπική αποθήκευση</strong></li>,<li><strong
                                        style="color:rgba(0,0,0,.54);">Web beacons (διαδικτυακοί φάροι)</strong></li>και
                                <li><strong style="color:rgba(0,0,0,.54);">Δοκιμή SSL</strong></li>
                            </ul>μπορούν επίσης να επισημαίνονται ως συμμορφούμενες, μη συμμορφούμενες ή να ορίζονται με
                            σκοπό την υποβοήθηση της αξιολόγησης.</td>
                    </tr>
                    <tr>
                        <td><i>Αξιολόγηση στις 25 Νοεμβρίου 2022</i></td>
                        <td>Η ημερομηνία της τελευταίας αξιολόγησης.</td>
                    </tr>
                </table>

                <p>Η πρώτη κάρτα της ανάλυσης ή του σεναρίου παρέχει μια επισκόπηση κάθε σεναρίου ή κάθε κάρτας με την
                    τρέχουσα αξιολόγησή τους. Επιτρέπει επίσης μια συνολική αξιολόγηση για την τρέχουσα ανάλυση ή
                    σενάριο σύμφωνα με αυτά τα στοιχεία.</p>

                <p>Κάθε γραμμή στον πίνακα αυτών των καρτών (<strong style="color:rgba(0,0,0,.54);">Cookies</strong>,
                    <strong style="color:rgba(0,0,0,.54);">Local Storage</strong> και <strong
                        style="color:rgba(0,0,0,.54);">Web beacons</strong>) μπορεί να επιλεγεί για να λάβετε
                    λεπτομερέστερες πληροφορίες στον δεξιό πίνακα <strong>Περισσότερες λεπτομέρειες</strong>. Στις
                    γραμμές cookie και τοπικής αποθήκευσης, η καρτέλα «Γνώση» παρέχει εύκολη πρόσβαση σε καταχωρίσεις
                    που αντιστοιχούν στην αντίστοιχη γνωστική βάση ή στην προσθήκη αυτής της καταχώρισης σε γνωστική
                    βάση. Κάντε κλικ στη <a href="#/helps/knowledge_base"> Γνωσιακή βάση</a> για να λάβετε περισσότερες
                    πληροφορίες σχετικά με τη διαχείρισή της.</p>

                <p>Ανά πάσα στιγμή, ένα νέο σενάριο μπορεί να επισυναφθεί στην ανάλυση κάνοντας κλικ στο <button
                        class="add-button"> + </button> στο αριστερό πλαίσιο <strong>Σενάριο.</strong></p>

                <p>Μετά την αξιολόγηση της ανάλυσης, μπορείτε να δημιουργήσετε αναφορές που περιλαμβάνουν συλλεχθέντα
                    δεδομένα, αξιολογήσεις και σχόλια σε μορφή που μπορεί να μεταδοθεί. Κάντε κλικ στο <a
                        href="#/helps/create_reports">Δημιουργία αναφορών </a> για να λάβετε οδηγίες.</p>
            </div>
        </div>
    </div>
</div>