<div class="content" style="max-width: 800px; margin-top: 56px;">
    <mat-slide-toggle (change)="settingService.setItem('testssl', $event.checked)"
        [(ngModel)]="settingService.settings.testssl" color="primary">{{ 'settings.testssl' | translate }}
    </mat-slide-toggle>

    <ng-container *ngIf="settingService.settings.testssl">
        <br>
        <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="settingService.settings.testssl_type"
                (selectionChange)="settingService.setItem('testssl_type', $event.value);browserService.updateSettings()">
                <mat-option value="script">{{ "knowledge.script" | translate }}</mat-option>
                <mat-option value="docker">{{ 'settings.docker' | translate }}</mat-option>
            </mat-select>
        </mat-form-field>

        <ng-container *ngIf="settingService.settings.testssl_type == 'script'">
            <div class="header">{{ 'settings.testssl_script_settings' | translate }}</div>
            <mat-form-field class="form-ssl-field" appearance="fill">
                <mat-label>{{ 'settings.testssl_location' | translate }}</mat-label>
                <input disabled matInput type="text" [(ngModel)]="settingService.settings.test_ssl_location">
            </mat-form-field>
            <button (click)="getSSLLocation()">
                <mat-icon>folder_open</mat-icon>
            </button>
            <div class="hide">
                <form enctype="multipart/form-data" [formGroup]="SSLLocation">
                    <input type="file" formControlName="ssl_location" id="ssl_location"
                        (change)="checkSSLLocation($event)" class="hide" />
                </form>
            </div>
            <div
            [innerHTML]="'settings.testssl_script_help' | translate"
            ></div>
        </ng-container>

        <ng-container *ngIf="settingService.settings.testssl_type == 'docker'">
            <div class="header">{{ 'settings.testssl_docker_settings' | translate }}</div>
            <div
            [innerHTML]="'settings.testssl_docker_help' | translate"
            ></div>
        </ng-container>
        <br>
        <button mat-button (click)="testSSLLocation()" color="primary">
            {{ 'settings.testssl_configuration' | translate }}
        </button>

        <app-modal 
        *ngIf='testSSLResult !=""' 
        (clickOnClose)='testSSLResult = ""'
        specialClass="info"
        >
        <div *ngFor="let line of testSSLResult">{{ line }}</div>
        </app-modal>
    </ng-container>
    <br><br>
    <mat-slide-toggle (change)="settingService.setItem('cookies', $event.checked)"
        [(ngModel)]="settingService.settings.cookies" color="primary">{{ 'settings.cookies' | translate
        }}</mat-slide-toggle><br><br>
    <mat-slide-toggle (change)="settingService.setItem('localstorage', $event.checked)"
        [(ngModel)]="settingService.settings.localstorage" color="primary">{{ 'settings.localstorage' | translate
        }}</mat-slide-toggle><br><br>
    <mat-slide-toggle (change)="settingService.setItem('https', $event.checked)"
        [(ngModel)]="settingService.settings.https" color="primary">{{ 'settings.https' | translate
        }}</mat-slide-toggle><br><br>
    <mat-slide-toggle (change)="settingService.setItem('traffic', $event.checked)"
        [(ngModel)]="settingService.settings.traffic" color="primary">{{ 'settings.traffic' | translate
        }}</mat-slide-toggle><br><br>
    <mat-slide-toggle (change)="settingService.setItem('webform', $event.checked)"
        [(ngModel)]="settingService.settings.webform" color="primary">{{ 'settings.webform' | translate
        }}</mat-slide-toggle><br><br>
    <mat-slide-toggle (change)="settingService.setItem('beacons', $event.checked)"
        [(ngModel)]="settingService.settings.beacons" color="primary">{{ 'settings.beacon' | translate
        }}</mat-slide-toggle><br><br>
    <mat-slide-toggle (change)="settingService.setItem('logs', $event.checked)"
        [(ngModel)]="settingService.settings.logs" color="primary">{{ 'settings.log' | translate
        }}</mat-slide-toggle><br><br>
    <mat-slide-toggle (change)="settingService.setItem('infos', $event.checked)"
        [(ngModel)]="settingService.settings.infos" color="primary">{{ 'settings.infos' | translate
        }}</mat-slide-toggle><br><br>
</div>