<mat-toolbar>
    <mat-toolbar-row class="navigation-header">
        <li class="breadcrumb-item">
            <a>
                <strong>
                    {{ "menu.analysis" | translate }}
                </strong>
            </a>
        </li>
        <ng-container *ngIf="analysis else new">
            <li class="breadcrumb-item">
                {{analysis.name}}
            </li>
            <li class="breadcrumb-item">
                {{ "entries.new.new_scenario" | translate }}
            </li>
        </ng-container>
        <ng-template #new>
            <li class="breadcrumb-item">
                {{ "menu.new" | translate }}
            </li>
        </ng-template>
        <!--
        <span class="header-spacer"></span>
        <strong>
            EN
        </strong>
        <mat-icon aria-hidden="false" aria-label="Example languageicon">language</mat-icon> -->
    </mat-toolbar-row>
</mat-toolbar>


<div class="row">
    <div class="col-12 px-4 px-xl-5 order-0">
        <div class="left-area">
            <form (ngSubmit)="onSubmit()" [formGroup]="analysisForm">


                <div *ngIf="!analysis" class="surveytitle">
                    <div style="text-align: center;"><span style="font-size: 14pt;"><strong> {{ "entries.new.start_a_new_analysis" | translate }}</strong></span></div>
                </div><br>

                            <!-- TODO : leave aside for the moment
                <div *ngIf="!analysis" id="page-tabs" class="panel panel-default" style="margin-top:20px;">
                    <div class="panel-body">
                        <div style="font-size: 20px;float:left; margin-top:10px; margin-bottom:10px; margin-right:10px">
                            Select
                            information 

                        </div>
                        <br> <br>
                        <div style="float:left; width:90">
                            <ul class="nav nav-pills">
                                <li class="pagebutton" [ngClass]="{'active': tagForm}"
                                    (click)="tagForm = true;sweepForm=false;updateForm()">
                                    <a style="cursor:pointer;">
                                        Auditing</a>
                                </li>

                                <li class="pagebutton" [ngClass]="{'active': sweepForm}"
                                    (click)="tagForm = false;sweepForm=true;updateForm()">
                                    <a style="cursor:pointer;">
                                        Sweep operation</a>
                                </li>

                                <li *ngIf="tagForm" class="pagebutton" [ngClass]="{'active': contactForm}"
                                    (click)="contactForm = !contactForm">
                                    <a style="cursor:pointer;">
                                        Contact Details</a>
                                </li>
                                <li *ngIf="tagForm"  class="pagebutton" [ngClass]="{'active': auditorForm}"
                                    (click)="auditorForm = !auditorForm">
                                    <a style="cursor:pointer;">
                                        Auditor information</a>
                                </li>
                                <li *ngIf="tagForm"  class="pagebutton" [ngClass]="{'active': identificationForm}"
                                    (click)="identificationForm = !identificationForm">
                                    <a style="cursor:pointer;">
                                        Identification tag(s)</a>
                                </li>
                                <li *ngIf="tagForm"  class="pagebutton" [ngClass]="{'active': documentsForm}"
                                    (click)="documentsForm = !documentsForm">
                                    <a style="cursor:pointer;">
                                        Supporting documents</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                -->
                <div style="clear: left"></div>

                <div class="single-page">
                    <fieldset>
                        <div class="elementwrapper">
                            <div class="sectionitem">
                                <a class="survey-element-anchor"></a>
                                <div role="heading" class="sectiontitle section1">{{ "entries.new.website_information" | translate }}</div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="elementwrapper">
                            <div class="survey-element 5 freetextitem forprogress">
                                <span class="mandatory">*</span>
                                <label class="questiontitle">
                                    {{ "entries.new.name_of_the_website" | translate }}
                                    <ng-container *ngIf="settingService.settings.help">
                                        <mat-icon
                                        matTooltip="{{ 'entries.new.name_of_the_website_help' | translate }}"
                                        [matTooltipPosition]="'after'"
                                        >help_outline</mat-icon>
                                      </ng-container>
                                </label>
                                <br>
                                <input formControlName="name" placeholder="Name..." type="text" name="name" id="name"
                                    class="required freetext max5000 expand"
                                    style="height: 23px; overflow: hidden; padding-top: 0px; padding-bottom: 0px;"
                                    required />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset *ngIf="tagForm">
                        <div class="elementwrapper">
                            <div class="survey-element 5 freetextitem forprogress">
                                <span class="mandatory">*</span>
                                <label class="questiontitle">
                                    {{ 'entries.new.url_of_the_website' | translate }}
                                    <ng-container *ngIf="settingService.settings.help">
                                        <mat-icon
                                        matTooltip="{{ 'entries.new.url_of_the_website_help' | translate }}"
                                        [matTooltipPosition]="'after'"
                                        >help_outline</mat-icon>
                                      </ng-container>
                                    <i *ngIf="typeEntry =='browser' && urlOK" class="fa fa-check fa-fw"
                                        style="color: green;" aria-hidden="true"> </i>
                                    <i *ngIf="typeEntry =='browser' && urlError" class="fa fa-times fa-fw"
                                        style="color: red;" aria-hidden="true"> </i>
                                </label>
                                <br>
                                <input #url [ngModel]="url_correct" (ngModelChange)="url_correct= $event"
                                    (focusout)="checkURL(url_correct)" formControlName="url" placeholder="www..."
                                    type="url" name="url" id="url" class="required freetext max5000 expand"
                                    style="height: 23px; overflow: hidden; padding-top: 0px; padding-bottom: 0px;"
                                    [attr.readonly]="analysisForm.controls['source'].value === 'wec'?true:null"
                                    required />
                            </div>
                        </div>
                    </fieldset>
                </div>
                <ng-container *ngIf="tagForm">
                    <div class="single-page">
                        <fieldset>
                            <div class="elementwrapper">
                                <div class="sectionitem">
                                    <a class="survey-element-anchor"></a>
                                    <div role="heading" class="sectiontitle section1">
                                        <ng-container *ngIf="analysis else first">
                                            {{ 'entries.new.new_scenario' | translate }}
                                        </ng-container>

                                        <ng-template #first>
                                            {{ 'entries.new.first_scenario' | translate }}
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="elementwrapper">
                                <div class="survey-element 5 freetextitem forprogress">
                                    <span class="mandatory">*</span>
                                    <label class="questiontitle">
                                        {{ 'entries.new.select_a_source' | translate }}
                                        <ng-container *ngIf="settingService.settings.help">
                                            <mat-icon
                                            matTooltip="{{ 'entries.new.select_a_source_help' | translate }}"
                                            [matTooltipPosition]="'after'"
                                            >help_outline</mat-icon>
                                          </ng-container>
                                    </label>
                                    <br>

                                    <select #entry [(ngModel)]="typeEntry" formControlName="source"
                                        class="custom-select form-select form-control freetext" id="source"
                                        name="source"
                                        style="width: 645px; height: 23px; overflow: hidden; padding-top: 0px; padding-bottom: 0px;">
                                        <option *ngFor="let s of sources" [value]="s[0]">{{ s[1] }}</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="elementwrapper">
                                <div class="survey-element 5 freetextitem forprogress">
                                    <ng-container [ngSwitch]="analysisForm.controls['source'].value">
                                        <ng-container *ngSwitchCase="'har'">
                                            <span class="mandatory">*</span>
                                            <label class="questiontitle">
                                                {{ 'entries.new.import_har' | translate }}
                                                <i *ngIf="harOK" class="fa fa-check fa-fw" style="color: green;"
                                                    aria-hidden="true"> </i>
                                                <i *ngIf="harError" class="fa fa-times fa-fw" style="color: red;"
                                                    aria-hidden="true"> </i>
                                            </label>
                                            <br>
                                            <button value="har_import" (click)="importHar()" class="btn btn-primary"
                                                type="button">
                                                {{ 'header.import' | translate }}</button>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'wec'">
                                            <span class="mandatory">*</span>
                                            <label class="questiontitle">
                                                {{ 'entries.new.import_wec' | translate }}
                                                <i *ngIf="wecOK" class="fa fa-check fa-fw" style="color: green;"
                                                    aria-hidden="true"> </i>
                                                <i *ngIf="wecError" class="fa fa-times fa-fw" style="color: red;"
                                                    aria-hidden="true"> </i>
                                            </label>
                                            <br>
                                            <button value="wec_import" type="button" (click)="importWec()"
                                                class="btn btn-primary">{{ 'header.import' | translate }}</button><br>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <fieldset>
                        <div class="elementwrapper">
                            <div class="survey-element 5 freetextitem forprogress">
                                <ng-container
                                    *ngIf="(typeEntry == 'browser' && urlOK) || (typeEntry == 'wec' && wecOK) || (typeEntry == 'har' && harOK)">
                                    <span class="mandatory">*</span>
                                    <label class="questiontitle">
                                        {{ 'entries.new.set_a_tag' | translate }}
                                        <ng-container *ngIf="settingService.settings.help">
                                            <mat-icon
                                            matTooltip="{{ 'entries.new.set_a_tag_help' | translate }}"
                                            [matTooltipPosition]="'after'"
                                            >help_outline</mat-icon>
                                          </ng-container>
                                    </label>
                                    <br>
                                    <input formControlName="tag" placeholder="First visit..." type="text" name="tag"
                                        id="tag" class="required freetext max5000 expand"
                                        style="height: 23px; overflow: hidden; padding-top: 0px; padding-bottom: 0px;"
                                        required />
                                    <!--
                                        <div id>
                                            <input class="required multiplechoice checkboxes trigger check" type="checkbox" id="scales" name="scales" checked>
                                            <label for="scales">Keep session from main browser</label>
                                        </div>
                                    -->
                                </ng-container>
                            </div>
                        </div>

                    </fieldset>

                </ng-container>
                <div class="hide">
                    <form enctype="multipart/form-data">
                        <input type="file" id="import_file" (change)="importHar($event)" class="hide" />
                    </form>
                    <form enctype="multipart/form-data">
                        <input type="file" id="import_folder" (change)="importWec($event)" class="hide" webkitdirectory
                            directory multiple />
                    </form>
                    <form enctype="multipart/form-data">
                        <input type="file" id="import_sweep_list" (change)="imporSweepList($event)" class="hide" />
                    </form>
                </div>

                <ng-container *ngIf="sweepForm">
                    <div class="single-page">
                        <fieldset>
                            <div class="elementwrapper">
                                <div class="sectionitem">
                                    <a class="survey-element-anchor"></a>
                                    <div role="heading" class="sectiontitle section1">Sweep operation</div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="elementwrapper">
                                <div class="survey-element 5 freetextitem forprogress">
                                    
                                        <span class="mandatory">*</span>
                                        <label class="questiontitle">
                                            Define a list of website to sweep or <a href="javascript:void(0)"
                                                (click)="imporSweepList()">import one from a file</a>.
                                        </label>
                                        <mat-form-field class="example-chip-list" appearance="fill">
                                            <mat-label>Add or remove URLS</mat-label>
                                        <mat-chip-grid #chipList aria-label="Fruit selection">
                                            <mat-chip *ngFor="let url of sweep_urls" (removed)="removeUrl(url)">
                                                {{url}}
                                                <button matChipRemove>
                                                    <mat-icon>cancel</mat-icon>
                                                </button>
                                            </mat-chip>
                                            <input placeholder="New Url..." [matChipInputFor]="chipList"
                                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                [matChipInputAddOnBlur]="addUrlOnBlur"
                                                (matChipInputTokenEnd)="addUrl($event)">
                                        </mat-chip-grid>
                                    </mat-form-field>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="elementwrapper">
                                <div class="survey-element 5 freetextitem forprogress">
                                    <span class="mandatory">*</span>
                                    <label class="questiontitle">
                                        Select a sweeping operation
                                    </label>
                                    <br>
                                    <select formControlName="sweep_operation" #sweep_operation
                                        (change)="setSweep(sweep_operation.value)"
                                        class="custom-select form-select form-control freetext" id="sweep_operation"
                                        name="sweep_operation"
                                        style="width: 645px; height: 23px; overflow: hidden; padding-top: 0px; padding-bottom: 0px;">
                                        <option value="first_visit" selected="selected"> Visit all pages and take a
                                            screenshot</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </ng-container>
                <ng-container *ngIf="contactForm">
                    <div class="single-page">
                        <fieldset>
                            <div class="elementwrapper">
                                <div class="sectionitem">
                                    <a class="survey-element-anchor"></a>
                                    <div role="heading" class="sectiontitle section1">Contact detail</div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="elementwrapper">
                                <div class="survey-element 5 freetextitem forprogress">
                                    <span class="mandatory">*</span>
                                    <label class="questiontitle">
                                        Name of the contact.
                                    </label>
                                    <br>
                                    <input formControlName="contact_name" placeholder="First name and last name.."
                                        type="text" name="contact_name" id="contact_name"
                                        class="required freetext max5000 expand"
                                        style="height: 23px; overflow: hidden; padding-top: 0px; padding-bottom: 0px;"
                                        required />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="elementwrapper">
                                <div class="survey-element 5 freetextitem forprogress">
                                    <span class="mandatory">*</span>
                                    <label class="questiontitle">
                                        Email
                                    </label>
                                    <br>
                                    <div class="input-group" style="margin-left: 20px;">
                                        <div class="input-group-addon" style="margin-bottom: 5px">&#64;</div>
                                        <input formControlName="contact_mail" placeholder="" type="text"
                                            name="contact_mail" id="contact_mail"
                                            style="width: 180px; margin-left: 0px; margin-bottom: 0px !important;"
                                            type="email" maxlength="255" class="required email" aria-invalid="true">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="elementwrapper">
                                <div class="survey-element 5 freetextitem forprogress">
                                    <span class="mandatory">*</span>
                                    <label class="questiontitle">
                                        Phone number
                                    </label>
                                    <br>
                                    <input formControlName="contact_phone" placeholder="" type="text"
                                        name="contact_phone" id="contact_phone" class="required freetext max5000 expand"
                                        style="height: 23px; overflow: hidden; padding-top: 0px; padding-bottom: 0px;"
                                        required />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </ng-container>

                <ng-container *ngIf="auditorForm">
                    <div class="single-page">
                        <fieldset>
                            <div class="elementwrapper">
                                <div class="sectionitem">
                                    <a class="survey-element-anchor"></a>
                                    <div role="heading" class="sectiontitle section1">Auditor detail</div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="elementwrapper">
                                <div class="survey-element 5 freetextitem forprogress">
                                    <span class="mandatory">*</span>
                                    <label class="questiontitle">
                                        Name
                                    </label>
                                    <br>
                                    <input formControlName="auditor_name" placeholder="Organization" type="text"
                                        name="auditor_name" id="auditor_name" class="required freetext max5000 expand"
                                        style="height: 23px; overflow: hidden; padding-top: 0px; padding-bottom: 0px;"
                                        required />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="elementwrapper">
                                <div class="survey-element 5 freetextitem forprogress">
                                    <span class="mandatory">*</span>
                                    <label class="questiontitle">
                                        Contact
                                    </label>
                                    <br>
                                    <div class="input-group" style="margin-left: 20px;">
                                        <div class="input-group-addon" style="margin-bottom: 5px">&#64;</div>
                                        <input formControlName="auditor_mail" placeholder="" type="text"
                                            name="auditor_mail" id="auditor_mail"
                                            style="width: 180px; margin-left: 0px; margin-bottom: 0px !important;"
                                            type="email" maxlength="255" class="required email" aria-invalid="true">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="elementwrapper">
                                <div class="survey-element 5 freetextitem forprogress">
                                    <span class="mandatory">*</span>
                                    <label class="questiontitle">
                                        Phone number
                                    </label>
                                    <br>
                                    <input formControlName="auditor_phone" placeholder="" type="text"
                                        name="auditor_phone" id="auditor_phone" class="required freetext max5000 expand"
                                        style="height: 23px; overflow: hidden; padding-top: 0px; padding-bottom: 0px;"
                                        required />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </ng-container>
                <ng-container *ngIf="identificationForm">
                    <div class="single-page">
                        <fieldset>
                            <div class="elementwrapper">
                                <div class="sectionitem">
                                    <a class="survey-element-anchor"></a>
                                    <div role="heading" class="sectiontitle section1">Identification tags</div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="elementwrapper">
                                <div class="survey-element 5 freetextitem forprogress">
                                    <span class="mandatory">*</span>
                                    <label class="questiontitle">
                                        Set a list tag to help the identification of this analysis.
                                    </label>
                                    <br>
                                    <input formControlName="id_tag" placeholder="Tag..." type="text" name="id_tag"
                                        id="id_tag" class="required freetext max5000 expand"
                                        style="height: 23px; overflow: hidden; padding-top: 0px; padding-bottom: 0px;"
                                        required />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </ng-container>
                <ng-container *ngIf="documentsForm">
                    <div class="single-page">
                        <fieldset>
                            <div class="elementwrapper">
                                <div class="sectionitem">
                                    <a class="survey-element-anchor"></a>
                                    <div role="heading" class="sectiontitle section1">Supporting documents</div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="elementwrapper">
                                <div class="survey-element 5 freetextitem forprogress">
                                    <span class="mandatory">*</span>
                                    <label class="questiontitle">
                                        Add supplementary materials that could be used for reporting.
                                    </label>
                                    <button value="Start" class="btn btn-primary">Import</button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </ng-container>
                <div style="text-align: center; margin-top: 20px;">
                    <button value="Start" [disabled]="analysisForm.invalid" class="form-submit btn btn-primary"
                        type="submit">Start</button>
                </div>

            </form>
        </div>
    </div>
</div>