@import "./src/assets/stylesheets/variables";

.header{
    position: relative;
    z-index: 100;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-flow: row;
    width: 100%;
    height: 42px;
    background-color: rgb(248, 248, 248);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.header-buttons{
    display: flex;
    -webkit-app-region: no-drag;
    -webkit-box-align: center;
    align-items: center;
}

button {
    width: 100%;
    height: 100%;
    will-change: background-image;
    transition: background-image 0.15s ease 0s;
    backface-visibility: hidden;
    background-size: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    opacity:"0.87";

    &:disabled{
        opacity: 0.25;
    }
    filter: none;
    &:hover{
        background-color: whitesmoke;
    }

    &:active {
        background-color: gainsboro;
    }
}

.analysis-name{
    border-radius: 30px;
    background: $base-green-light;
    padding: 10px;
    &.-item{
        float: none;
        display: inline-block;
        color: #fff;
        content: "\f054";
        font-family: "Font Awesome 5 Free";
        font-size: 0.75rem;
    }
}

.analysis-plus{
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    background: $base-green-light;
}

.zoom-factor{
    border-radius: 60px;
    background: $base-gray-light;
    padding: 10px;
    &.-item{
        float: none;
        display: inline-block;
        color: #fff;
        content: "\f054";
        font-family: "Font Awesome 5 Free";
        font-size: 0.75rem;
    }
}

.header-option{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 4px;
}

.header-option-div{
    position: relative;
    transition: background-color 0.2s ease 0s;
    backface-visibility: hidden;
    margin: 0px 1px;
    border-radius: 4px;
    height: 32px;
    min-width: 36px;
    pointer-events: inherit;
    -webkit-app-region: no-drag;
}

.header-option-button{
    width: 100%;
    height: 100%;
    will-change: background-image;
    transition: background-image 0.15s ease 0s;
    backface-visibility: hidden;
    background-size: 18px;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.87;
    filter: none;
}

.header-button{
    position: relative;
    transition: background-color 0.2s ease 0s;
    backface-visibility: hidden;
    margin: 0px 1px;
    border-radius: 4px;
    height: 32px;
    min-width: 36px;
    -webkit-app-region: drag;

}

.header-search{
    height: 30px;
    flex: 1 1 0%;
    border-radius: 4px;
    margin: 0px 7px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    font-size: 15px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border: 1px solid transparent;
    color: rgb(0, 0, 0);
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 0px;
}

.header-search-loop{
    position: relative;
    transition: background-color 0.2s ease 0s;
    backface-visibility: hidden;
    margin: 0px 1px;
    border-radius: 2px;
    height: 26px;
    min-width: 34px;
    pointer-events: inherit;
    -webkit-app-region: no-drag;
}

.header-search-loop-content{
    width: 100%;
    height: 100%;
    will-change: background-image;
    transition: background-image 0.15s ease 0s;
    backface-visibility: hidden;
    background-size: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.87;
    filter: none;
}

.header-search-input{
    flex: 1 1 0%;
    position: relative;
    height: 100%;
    margin-left: 2px;
    overflow: hidden;
}

.header-search-input-content{
    outline: none;
    min-width: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: inherit;
    word-spacing: inherit;
    font-size: 14px;
    color: inherit;
}

.header-search-input-hidden{
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50%));
    flex: 1 1 0%;
    color: inherit;
    margin-top: -1px;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    display: none;
}

.header-search-right{
    position: relative;
    transition: background-color 0.2s ease 0s;
    backface-visibility: hidden;
    margin: 0px 1px;
    border-radius: 2px;
    height: 26px;
    min-width: 34px;
    pointer-events: inherit;
    -webkit-app-region: no-drag;
}

.header-search-right-button{
    width: 100%;
    height: 100%;
    will-change: background-image;
    transition: background-image 0.15s ease 0s;
    backface-visibility: hidden;
    background-size: 18px;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.87;
    filter: none;
}

